@charset "utf-8";
@import "../utility/*";
// ------------------------------------------------
// ------------------------------------------------

#contact {
  .date_input_hide,
  .date_input_return_hide {
    // opacity: 0;
    position: absolute;
    top: 0;
    // left: 0;
    // width: 0 !important;
    // height: 0 !important;
    // background-color: #fff !important;
    // z-index: 2;
  }
  .input-width {
    position: relative;
  }
  // BASE ON FORM DEFAULT
  .errMsg {
    margin-left: 1em;
    padding-bottom: 1px;
    display: block;
    line-height: 1.4;
    text-indent: -0.9em;
  }
  .formError {
    padding-bottom: 13px;
    display: block;
  }
  .fixed {
    padding-bottom: 0px;
  }
  .formError .formErrorClose {
    border: solid #252525 2px;
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -4px;
    right: -4px;
    color: #efefef;
    background: #333;
    font-weight: bold;
    text-align: center;
    line-height: middle;
    cursor: pointer;
    z-index: 2;
    @include add_prefix(border-radius, 9px 9px 9px 9px);
    @include add_prefix(box-shadow, 1px -1px 3px #888);
  }
  .formError .formErrorClose:hover {
    background: #666;
  }
  .fixed .formErrorClose {
    display: none;
  }
  .formError .formErrorContent {
    padding: 6px 10px;
    width: 220px;
    position: relative;
    color: #fff;
    background: #252525;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, "ヒラギノ丸ゴ Pro W4", HiraMaruPro-W4,
      "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, Osaka, sans-serif;
    @include font-size(11);
    margin: 0 0;
    z-index: 1;
    @include add_prefix(border-radius, 3px);
    @include add_prefix(box-shadow, 0px 0px 6px #888);
  }
  .fixed .formErrorContent {
    margin-top: 0.5em;
    background: #f60;
    margin: 0 0 30px 0;
    @include add_prefix(border-radius, none);
    @include add_prefix(box-shadow, none);
  }
  .fadeOut {
    opacity: 0.2;
    filter: alpha(opacity=20);
  }
  .formError .formErrorArrow {
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 0;
    left: 20px;
    margin: 0 0 30px 0;
    z-index: 0;
  }
  .fixed .formErrorArrow {
    display: none;
  }
  .formError .formErrorArrowBottom {
    margin: -6px;
    top: 0;
  }
  .fixed .formErrorArrowBottom {
    display: none;
  }
  .formError .formErrorArrow div {
    margin: 0 auto;
    display: block;
    height: 1px;
    background: #252525;
    line-height: 0px;
    font-size: 0px;
    @include add_prefix(box-shadow, 0px 2px 3px #888);
  }
  .formError .formErrorArrowBottom div {
    @include add_prefix(box-shadow, none);
  }
  .formError .formErrorArrow .line10 {
    width: 19px;
  }
  .formError .formErrorArrow .line9 {
    width: 17px;
  }
  .formError .formErrorArrow .line8 {
    width: 15px;
  }
  .formError .formErrorArrow .line7 {
    width: 13px;
  }
  .formError .formErrorArrow .line6 {
    width: 11px;
  }
  .formError .formErrorArrow .line5 {
    width: 9px;
  }
  .formError .formErrorArrow .line4 {
    width: 7px;
  }
  .formError .formErrorArrow .line3 {
    width: 5px;
  }
  .formError .formErrorArrow .line2 {
    width: 3px;
  }
  .formError .formErrorArrow .line1 {
    width: 1px;
  }
  // BASE ON FORM DEFAULT
  /* dislay */
  .hid_url {
    display: none;
  }
  form p.test {
    position: relative;
    color: #c1c0bc;
  }
  form p.test label {
    position: absolute;
    top: 3px;
    left: 10px;
    font-weight: normal;
  }
  form p.test br {
    display: none;
  }
  /* contact */
  .formBlock {
    max-width: 890px;
    margin: auto;
  }
  .tableContact {
    border-top: #8f8f8f dotted 1px;
    border-bottom: #8f8f8f dotted 1px;
    margin: 30px 0 46px;
    @include font-size(15);
    text-align: left;
    max-width: 820px;
    width: 100%;
    position: relative;
    left: 36px;
    @include SP {
      border-top: none;
      left: auto;
      padding: 0;
      box-sizing: border-box;
      // width: 90%;
      margin: 0 auto 31px;
    }
    td,
    th {
      vertical-align: top;
    }
    th {
      background-color: transparent;
      width: 210px;
      font-weight: normal;
      padding: 43px 20px 19px 19px;
      @include SP {
        display: block;
        padding: 16px 2px 0;
        width: 100%;
      }
      span {
        background: #004cc6;
        @include font-size(14);
        font-style: normal;
        color: #ffffff;
        padding: 5px 2px;
        width: 46px;
        height: 26px;
        text-align: center;
        margin: 0 12px 0 0;
        display: inline-block;
        line-height: 1.2;
        &.non {
          background: #d9dfe3;
          color: #222222;
        }
      }
    }
    td {
      position: relative;
      padding: 21px 21px 20px 39px;
      @include SP {
        display: inline-block;
        padding: 13px 0 20px 3px;
        width: 100%;
      }
      label {
        display: flex;
        align-items: flex-start;
        float: left;
        margin: 0 19px 0 19px;
        input {
          margin: 3px 10px 0 0;
          width: 20px;
          height: 20px;
          border-radius: 0;
          @include SP {
            margin: 3px 6px 0 0;
            overflow: hidden;
          }
        }
      }
      span {
        display: block;
        width: calc(100% - 30px);
        position: relative;
        margin: -2px 0 3px;
        @include font-size(13);
        @include SP {
          margin-bottom: 5px;
        }
        &:nth-child(2) {
          display: inline;
          @include font-size(14);
          position: relative;
          top: 12px;
        }
      }
    }
    tr {
      border-bottom: #8f8f8f dotted 1px;
      @include SP {
        border: none;
        border-top: #8f8f8f dotted 1px;
      }
      &:first-child {
        th {
          padding: 30px 20px 33px 19px;
          @include SP {
            padding: 19px 19px 9px 2px;
          }
        }
        td {
          padding: 30px 20px 33px 19px;
          @include SP {
            padding: 0 10px 10px 0;
            label {
              margin: 0 0 6px 2px;
              width: 39%;
              &:last-child {
                width: 100%;
              }
            }
          }
          span {
            margin: 1px 0 0px;
            @include font-size(15);
            top: auto;
          }
        }
      }
      &:nth-child(2) {
        td {
          span {
            position: relative;
            margin: -2px 0 6px;
            @include font-size(13);
          }
        }
      }
      &.wd {
        input {
          width: 94.5%;
          margin: 2px auto 0 0;
          display: inline-block;
          float: right;
          @include SP {
            width: 91.5%;
            margin: 2px 4px 0 0;
          }
        }
        td {
          @include SP {
            span {
              &:first-child {
                padding: 0 0 0 24px;
                margin: -3px 0 3px;
              }
            }
          }
        }
      }
      &:last-child {
        @include SP {
          td {
            padding: 13px 0 16px 2px;
          }
        }
      }
    }
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="number"],
    input[type="url"] {
      width: 300px;
      height: 23px;
      color: #1a1a1a;
      border-radius: 0;
    }
    input[type="text"],
    textarea {
      border: #8f8f8f dotted 1px;
    }

    .size01 input[type="text"] {
      width: 160px;
    }
    .size02 input[type="text"],
    textarea {
      width: 100%;
    }
    textarea {
      margin: 13px 0 0;
      min-height: 270px;
      @include SP {
        margin: 3px 0 0;
        min-height: 230px;
      }
    }
  }
  .stepImg {
    margin: 26px 0 65px;
    text-align: center;
    @include SP {
      margin: 28px 0 41px;
    }
  }
  .tabForm {
    margin: 50px auto 0;
  }
  .tabForm ul {
    font-size: 0;
    letter-spacing: 0;
    margin: 0;
    border-bottom: 2px solid #000;
  }
  .tabForm ul li {
    display: inline-block;
    width: 50%;
    padding: 0;
  }
  .tabForm ul li input {
    position: absolute;
    opacity: 0;
  }
  .tabForm ul li label {
    display: block;
    line-height: 60px;
    text-align: center;
    @include font-size(20);
  }
  .tabForm ul li input:checked ~ label {
    background: #000;
    color: #fff;
  }
  .tabForm ul li label:hover {
    opacity: 1;
    background: #555;
    color: #fff;
  }
  .tableContact input[type="tel"],
  .tableContact input[type="text"],
  .tableContact input[type="url"],
  .tableContact input[type="email"],
  .tableContact textarea {
    padding: 14px;
    height: auto;
    border: 1px solid #aaa;
    width: 100%;
    box-sizing: border-box;
    @include max-screen(767px) {
      width: 99%;
      border-radius: 0;
    }
  }
  select option {
    padding: 5px 0px;
  }
  .input {
    &-wrap {
      select {
        background: none;
        width: 100%;
        padding: 15px 20px;
        -webkit-appearance: none;
        appearance: none;
        border: none;
        border: 1px solid #aaa;
      }
      &--child {
        td {
          @include flexbox;
        }
        select {
          padding: 15px 50px;
          @include max-screen(767px) {
            padding: 15px 20px 15px 45px;
            text-align: center;
            width: 100%;
          }
          @include max-screen(374px) {
            font-size: 10px;
            padding: 15px 28px 15px 38px;
          }
        }
        input {
          // width: 48% !important;
          margin: 0 4% 0 0;
        }
        .input-select {
          width: 48%;
          .input-width {
            @include bgimg("../../img/top/ico_lock.svg", no-repeat, center left 18px, transparent, 18px 18px);
            // width: 100%;
            @include max-screen(767px) {
              margin: 0 auto;
              width: 100%;
            }
            @include max-screen(374px) {
              background-position: center left 12px;
            }
          }
          &:first-child {
            margin: 0 4% 0 0;
            .input-width {
              @include bgimg("../../img/contact/ico_date.svg", no-repeat, center left 18px, #fff, 21px 21px);
              @include max-screen(767px) {
                background-image: none;
              }
            }
            input {
              border: none;
              @include bgimg("../../img/contact/ico_date.svg", no-repeat, center left 18px, #fff, 21px 21px);
              padding: 0 0 0 50px;
              display: block;
              height: 100%;
              @include max-screen(767px) {
                padding: 0 0 0 30px !important;
                width: 100% !important;
                background-position: center left 5px;
              }
              @include max-screen(374px) {
                font-size: 12px;
                background-size: 18px 18px;
              }
            }
          }
        }
      }
      &--inner {
        td {
          @include flexbox;
        }
        .input-select {
          width: 35%;
          background: none;
          border: none;
          @include max-screen(767px) {
            width: 50%;
          }
          select {
            width: 80px;
            @include max-screen(374px) {
              width: 65px;
            }
          }
          span {
            margin: 0 10px 0 0;
            &:last-child {
              margin: 0 0 0 10px;
            }
          }
          &:first-child {
            margin: 0 4% 0 0;
          }
        }
      }
    }
    &-select {
      @include bgimg("../../img/contact/ico_select.svg", no-repeat, center right 12px, transparent, 18px 18px);
      @include flexbox;
      @include align-items(center);
      border: 1px solid #aaa;
      select {
        border: none;
      }
      span {
        width: auto !important;
      }
    }
    &-width {
      &--type1 {
        @include bgimg("../../img/contact/ico_select.svg", no-repeat, center right 12px, transparent, 18px 18px);

        select {
          border: 1px solid #aaa;
        }
      }
    }
  }
  .tableContact .pRadio {
    display: inline-block;
    vertical-align: middle;
  }
  .tableContact .pRadio input {
    position: absolute;
    opacity: 0;
  }
  .tableContact .pRadio label {
    display: inline-block;
    margin: 0 5px 0 0;
    border: 1px solid #aaa;
    padding: 10px 20px;
  }
  .tableContact .pRadio input:checked ~ label {
    background: #555;
    border-color: #555;
    color: #fff;
  }
  button {
    height: 60px;
    margin: 20px auto;
    padding: 0 100px;
    background: #eee;
  }
  .txtContact01 {
    padding: 0 34px;
    color: #222222;
    @include max-screen(767px) {
      padding: 0 20px;
    }
    &.t30b0 {
      @include font-size(13);
      margin: 0 0 42px;
      letter-spacing: -0.1px;
      line-height: 1.7;
      text-align: center;
      @include max-screen(767px) {
        text-align: left;
        margin: 0;
      }
    }
    .t0b10 {
      letter-spacing: -1px;
      font-weight: bold;
      margin: 0 0 13px;
      @include max-screen(767px) {
        margin: 0 0 8px;
      }
    }
    .t0b20 {
      margin: 0 0 69px;
      @include max-screen(767px) {
        margin: 0 0 38px;
      }
      li {
        letter-spacing: -2px;
        line-height: 1.7;
        @include max-screen(767px) {
          font-size: 13px;
          letter-spacing: 0;
          line-height: 1.93;
        }
      }
      a {
        text-decoration: underline;
        color: inherit;
      }
    }
  }
  input:checked ~ .checkmark {
    background: #011f5a;
    border-color: #011f5a;
    &:after {
      display: block;
    }
  }
  label {
    position: relative;
  }
  .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #9aa1ad;
    overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      display: none;
      top: 4px;
      left: 6px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
  .checkAgree {
    margin: 0 0 25px;
    @include add_prefix(transition, 0.2s ease all);
    @include max-screen(767px) {
      margin: 0 0 18px;
    }
    @include min-screen(768px) {
      &:hover {
        opacity: 0.5;
      }
    }
    label {
      max-width: 360px;
      width: 100%;
      height: 86px;
      margin: 0 auto;
      background: #edeff5;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #d9dfe3;
      box-sizing: border-box;
      position: relative;
      @include max-screen(767px) {
        max-width: 336px;
      }
      input {
        width: 21px;
        height: 21px;
        border-radius: 0;
        position: relative;

        border: 1px solid #9aa1ad;
        background: #fff;
        @include max-screen(767px) {
          left: -7px;
        }
      }
    }
    .fz14 {
      line-height: 1.7;
      letter-spacing: 0px;
      position: relative;
      left: 7px;
      top: -2px;
      letter-spacing: 0.3px;
      @include font-size(15);
      font-weight: bold;
    }
    .grBtn {
      position: relative;
      width: 21px;
      height: 21px;
      overflow: hidden;
      top: -2px;
      left: -8px;
      .checkmark {
        top: 0;
        left: 0;
        height: 21px;
        width: 21px;
      }
    }
  }
  .btnConfirm {
    max-width: 360px;
    width: 100%;
    height: 90px;
    background: #004cc6;
    margin: 0 auto 75px;
    border: none;
    outline: none;
    display: block;
    font-weight: bold;
    color: #ffffff;
    @include font-size(18);
    padding: 0;
    @include add_prefix(transition, 0.2s ease all);
    @include bgimg("../../img/top/ico_arrow_white.svg", no-repeat, center right 28px, #004cc6, 20px 20px);
    span {
      letter-spacing: 1px;
      @include max-screen(767px) {
        position: relative;
        top: 2px;
        left: 2px;
        letter-spacing: 0.8px;
      }
    }
    @include min-screen(768px) {
      &:hover {
        opacity: 0.5;
      }
    }
    @include max-screen(767px) {
      max-width: 336px;
      margin: 0 auto 42px;
    }
  }
  @include max-screen(374px) {
    .t20b20 {
      padding: 0 20px;
    }
  }
  .formBlock .btnConfirm:disabled {
    opacity: 0.5;
  }
}
// ------------------------------------------------
// ------------------------------------------------
.contact {
  .breadcrumb {
    margin: 5px 70px 5px 0;
    @include SP {
      margin-right: 0;
    }
    span {
      img {
        position: relative;
        top: -2px;
        left: 1px;
      }
    }
  }
  .visual {
    margin-bottom: 68px;
    h1 {
      top: 1px;
    }
    @include SP {
      margin: 0;
      h1 {
        top: -2px;
        letter-spacing: -1px;
      }
    }
    span {
      padding: 0 22px 0 3px;
      @include max-screen(767px) {
        padding: 0 9px 0 20px;
        letter-spacing: 1.4px;
      }
    }
  }
  &-inner {
    border: 3px solid #c7cfdb;
    box-sizing: border-box;
    background: #ffffff;
    max-width: 820px;
  }
  &-box {
    @include SP {
      padding: 35px 20px;
    }
  }
  &-area {
    padding: 27px 61px 0;
    display: flex;
    flex-wrap: wrap;
    @include SP {
      padding: 12px 0 0;
      .contact-right {
        order: 1;
        position: relative;
        left: 5px;
        top: 8px;
        padding: 0 68px;
      }
      .contact-left {
        order: 2;
        padding: 16px 13px;
        @media (max-width: 374px) {
          .contact-ttl {
            @include font-size(20);
            span {
              @include font-size(24);
            }
          }
        }
      }
    }
  }
  &-ttl {
    @include font-size(28);
    font-weight: bold;
    text-align: left;
    letter-spacing: 1px;
    margin: 0 0 9px;
    color: #222222;
    span {
      display: block;
      @include font-size(38);
      line-height: 1.32;
      &:first-child {
        color: #004cc6;
      }
    }
    @include SP {
      @include font-size(24);
      span {
        @include font-size(30);
        line-height: 1.2;
        text-align: justify;
      }
    }
  }
  &-txt {
    @include font-size(13);
    color: #222222;
  }
  &-right {
    margin: 0 -24px 17px 41px;
    @include SP {
      margin: 0;
    }
  }
  &-bottom {
    padding: 27px 61px 21px;
    color: #222222;
    @include font-size(16);
    font-weight: bold;
    background: #edeff5;
    letter-spacing: 2px;
    line-height: 1.85;
    @include SP {
      padding: 18px 14px 14px 13px;
      letter-spacing: 0;
      line-height: 1.6;
      br {
        display: none;
      }
    }
    span {
      display: block;
      @include font-size(13);
      font-weight: normal;
      margin: 7px 0 0;
      letter-spacing: 0.6px;
      @include SP {
        margin: 11px 0 0 1px;
      }
    }
  }
  &-infor {
    background-color: #edeff5;
    margin: 73px auto 65px;
    padding: 67px 0 60px;
    @include SP {
      margin: 46px -20px 3px;
      position: relative;
      padding: 53px 0 76px;
    }
    span {
      color: #011f5a;
      display: block;
      font-weight: bold;
      text-align: left;
      &:first-child {
        @include font-size(20);
        letter-spacing: 1px;
        @include SP {
          @include font-size(15);
          letter-spacing: 0.8px;
        }
      }
      &:nth-child(2) {
        @include font-size(32);
        @include ffNS;
        letter-spacing: 2px;
        line-height: 1.5;
        @include SP {
          @include font-size(24);
          line-height: 1.2;
          letter-spacing: 0.8px;
        }
      }
      &:last-child {
        @include font-size(13);
        letter-spacing: 0.68px;
        line-height: 1.8;
        @include SP {
          position: absolute;
          bottom: 43px;
          left: 0;
          right: 0;
          text-align: center;
        }
      }
    }
    p {
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
      padding: 0 0 0 85px;
      box-sizing: border-box;
      @include bgimg("../../img/contact/ico_tel.svg", no-repeat, left -7px top 10px, transparent, 60px 78px);
      @include SP {
        border: 2px solid;
        max-width: 301px;
        padding: 20px 0 20px 75px;
        background-position: left 19px top 22px;
        background-color: rgba(0, 0, 0, 0);
        background-size: 40px 49px;
      }
    }
  }
  .txtContact {
    @include font-size(20);
    @include bgimg("../../img/contact/ico_mail.png", no-repeat, top left 50%, transparent, 33px 26px);
    text-align: center;
    padding: 35px 0 44px;
    line-height: 0.6;
    font-weight: bold;
    letter-spacing: 1.2px;
    position: relative;
    left: -4px;
    @include SP {
      left: 0;
      padding: 35px 0 9px;
    }
    span {
      @include ffNS;
      @include font-size(34);
      display: block;
      font-weight: bold;
      line-height: 2;
      letter-spacing: 1.7px;
      position: relative;
      @include SP {
        line-height: 1.8;
        letter-spacing: 1.7px;
        position: relative;
        left: 0;
        top: -4px;
      }
    }
  }
  .confirmform {
    margin: 72px 0 0;
    @include SP {
      margin: 40px 0 0;
      .stepImg {
        margin-bottom: 39px !important;
        padding: 0 20px !important;
      }
    }
    .tableContact {
      margin-bottom: 19px !important;
      @include SP {
        margin-bottom: 17px !important;
      }
      tr {
        th {
          padding: 28px 20px 28px 18px !important;
          font-weight: bold !important;
          @include SP {
            padding: 16px 20px 0 2px !important;
          }
        }
        td {
          padding: 26px 20px 24px 38px !important;
          line-height: 1.8;
          @include SP {
            padding: 2px 20px 15px 3px !important;
          }
        }
        &:first-child {
          td {
            @include SP {
              padding: 2px 20px 12px 3px !important;
            }
          }
        }
        &:last-child {
          th {
            @include SP {
              padding: 18px 0 4px 3px !important;
            }
          }
          td {
            line-height: 2;
            padding-bottom: 30px !important;
            @include SP {
              padding: 2px 0 23px 3px !important;
              line-height: 1.9;
            }
          }
        }
      }
    }
    .taR {
      text-align: right;
      margin: 0 36px 59px 0;
      font-size: 14px;
      @include SP {
        margin: 0 20px 34px 0;
        @include font-size(13);
      }
    }
    .t30b0 {
      text-align: center;
      margin: 65px 0 125px;
      font-size: 13px;
      display: block;
      @include SP {
        margin: 40px 8px 10px 20px;
        line-height: 1.7;
        letter-spacing: -0.15px;
        text-align: left;
      }
    }
    #btnSend {
      border: none;
      outline: none;
      margin: 0 auto;
      max-width: 360px;
      padding: 0;
      width: 100%;
      height: 90px;
      margin: 0 auto;
      background-color: #004cc6;
      color: #ffffff;
      letter-spacing: 1px;
      @include font-size(18);
      @include bgimg("../../img/top/ico_arrow_white.svg", no-repeat, center right 26px, #004cc6, 20px 20px);
      @include add_prefix(transition, 0.3s ease all);
      @include SP {
        max-width: 332px;
      }
      @include min-screen(768px) {
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
  .contactform {
    @include max-screen(767px) {
      padding: 0 20px;
      .txtContact01 {
        padding: 0 !important;
      }
    }
    @media (max-width: 374px) {
      padding: 0 20px;
      .txtContact01 {
        padding: 0 !important;
      }
    }
  }
}
// ------------------------------------------------
// ------------------------------------------------
.indexThx {
  .containerIndexThx {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    .t20b20 {
      &.fz18 {
        @include font-size(25);
        margin: 0 0 29px;
        letter-spacing: 1.2px;
        @include SP {
          padding: 0 20px;
          margin: 0 0 13px;
        }
      }
      &.fz14 {
        @include font-size(15);
        letter-spacing: 0px;
        line-height: 2;
        margin: 0 0 30px;
        @include SP {
          line-height: 1.9;
          padding: 0 20px;
          margin: 0 0 28px;
        }
      }
    }
    .t20b0 {
      a {
        color: #004cc6;
        text-decoration: underline;
        letter-spacing: -1px;
        display: block;
        margin: 52px 0 92px;
        @include SP {
          margin: -5px 0 42px 20px;
        }
      }
      @include min-screen(768px) {
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
  .visual {
    margin-bottom: 44px;
    @include max-screen(767px) {
      margin-bottom: 0;
      span {
        padding: 0 15px 0 19px;
      }
      h1 {
        letter-spacing: -1px;
      }
    }
  }
  .stepImg {
    margin: 0 0 62px !important;
    img {
      width: 500px;
      height: 77px;
      @include SP {
        width: auto;
        height: auto;
      }
    }
    @include SP {
      margin: 49px 0 47px !important;
      height: 43px;
    }
  }
}
// ------------------------------------------------
// ------------------------------------------------
.confirmform {
  @include SP {
    .tableContact {
      width: 90% !important;
    }
  }
}
// ------------------------------------------------
// ------------------------------------------------
.contactCfr {
  #logo {
    a {
      pointer-events: none;
    }
  }
}
// ------------------------------------------------
// ------------------------------------------------
.windows {
  @include PC {
    // .contact-infor p {
    // background-position: left 19px top 22px;
    // }
    #contact .btnConfirm {
      background-size: 20px 10px;
    }
    #contact .tableContact th {
      width: 210px;
      // float: left;
      text-align: left;
    }
    #contact .tableContact td {
      padding: 21px 21px 20px 8px;
    }
    #contact .tableContact tr:first-child td {
      padding-left: 8px;
    }
    #contact .tableContact th span {
      line-height: 1.5;
      height: 27px;
    }
    #contact .tableContact td label {
      margin: 0 19px 0 0;
    }
    #contact .tableContact tr:first-child td span {
      line-height: 2;
    }
    .contact-infor p {
      background-position: left 0 top 10px;
    }
    #contact .input-select,
    #contact .input-width--type1 {
      background-size: 12px 12px;
    }
    #contact .checkAgree .fz14 {
      top: 0;
    }
  }
}
