@charset 'UTF-8';
@import "../utility/*";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,700;1,800&display=swap");
/* =main visual
-------------------------------------------------------------- */
.c-mv {
  text-align: center;
  position: relative;

  @include SP {
    padding: 0;
  }
  img {
    width: 100%;
    height: auto;
  }
  &__content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin: 0 auto;
    text-align: center;
    transition: all 1s ease-out;
    filter: blur(2);
    opacity: 0;
    &.views {
      filter: blur(0);
      opacity: 1;
    }
    @include SP {
      top: 10%;
      transform: translate(-50%, -10%);
      width: 100%;
      box-sizing: border-box;
    }
    // @media screen and(max-width:330px) {
    //   padding: 0 20px;
    // }
    .title {
      color: $color_bg_secondary;
      @include font-size(43);
      font-weight: bold;
      padding: 48px 0 0 8px;
      position: relative;
      margin: 0 auto;
      letter-spacing: 8.5px;
      @include SP {
        @include font-size(28);
        padding: 30px 0 0 22px;
        letter-spacing: 4px;
        text-align: center;
      }
      @media screen and(max-width:330px) {
        padding: 30px 0 0;
        letter-spacing: 0px;
        @include font-size(22);
      }
    }
    .subtitle {
      @include font-size(20);
      font-weight: bold;
      letter-spacing: 2.8px;
      position: relative;
      top: 3px;
      @include SP {
        @include font-size(14);
        text-align: center;
        letter-spacing: 0;
      }
      @media screen and(max-width:330px) {
        @include font-size(12);
      }
    }
    .note {
      @include font-size(15);
      position: relative;
      top: 26px;
      letter-spacing: 0.7px;
      @include SP {
        @include font-size(13);
        top: 16px;
        letter-spacing: 1px;
        line-height: 1.7;
      }
    }
  }
  &__slider {
    margin: 0 auto;
    transition: all 1s ease-out;
    filter: blur(2);
    opacity: 0;
    background: #252525;
    &.views {
      filter: blur(0);
      opacity: 1;
    }
  }
  &__item {
    margin: 0 auto;
    height: 100%;
    position: relative;
    z-index: 1;
  }
  .icon {
    background-color: $color_bg_secondary;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1px;
    height: 59px;
    margin: 0 auto;
    z-index: 2;
    transition: all 1s ease-out;
    filter: blur(2);
    opacity: 0;
    &.views {
      filter: blur(0);
      opacity: 1;
    }
    @include SP {
      height: 43px;
    }
    &::before {
      content: "SCROLL";
      @include ffNS;
      @include font-size(12);
      font-weight: bold;
      position: absolute;
      top: -24px;
      right: 0;
      left: 50%;
      width: 100px;
      margin: 0 auto;
      transform: translateX(-50%);
      letter-spacing: 1px;
      @include SP {
        @include font-size(10);
        top: -21px;
        letter-spacing: 0.2px;
      }
    }
    &::after {
      content: "";
      position: absolute;
      left: -2.5px;
      width: 6px;
      height: 6px;
      background-color: $color_bg_secondary;
      border-radius: 50%;
      bottom: 59px;
      animation: scroll-down 1.8s infinite;
      @include SP {
        animation: scroll-down--sp 1.8s infinite;
      }
    }
  }
}
/* =search
-------------------------------------------------------------- */
.c-search {
  text-align: center;
  position: relative;
  transition: all 1s ease-out;
  filter: blur(2);
  opacity: 0;
  &.views {
    filter: blur(0);
    opacity: 1;
  }
  @include SP {
    padding: 0 20px;
  }
  &::before {
    display: block;
    content: "";
    width: 100%;
    height: 717px;
    @include bgimg("../../img/top/bg_index.png", no-repeat, center top, transparent, contain);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    @include SP {
      width: 100%;
      height: 152px;
      background-image: url(../../img/top/bg_index_sp.jpg);
      background-repeat: no-repeat;
    }
  }
  &::after {
    display: none;
    content: "";
    width: 100%;
    height: 235px;
    @include bgimg("../../img/top/bg_search_sp.png", no-repeat, center top, transparent, contain);
    position: absolute;
    left: 0;
    z-index: -1;
    top: 400px;
    @include SP {
      display: block;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
  &__content {
    padding: 50px 0 20px;
    box-sizing: border-box;
    position: relative;
    @include SP {
      padding: 28px 0 27px;
    }
  }
  &__heading {
    color: #222222;
    @include font-size(35);
    font-weight: bold;
    padding: 73px 0 0 4px;
    position: relative;
    letter-spacing: 4px;
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      top: 5px;
      width: 58px;
      height: 58px;
      @include bgimg("../../img/top/ico_house01.svg", no-repeat, center top, transparent, contain);
      @include add_prefix(transition, 0.3s ease all);
      transform: translate(-50%, 0);
    }
    @include SP {
      @include font-size(28);
      padding: 65px 0 0 0;
      letter-spacing: 1px;
      &::after {
        left: 50%;
        top: 1px;
      }
    }
  }
  &__modal {
    background: #edeff5;
    border: 1px solid #e1e5ed;
    box-sizing: border-box;
    width: 672px;
    height: 120px;
    @include flexbox;
    align-items: center;
    @include justify-content(space-between);
    position: relative;
    padding: 0 42px;
    margin: 21px auto 0;
    @include SP {
      width: auto;
      height: auto;
      @include flex-wrap;
      justify-content: center;
      padding: 20px 30px 20px;
      margin-top: 20px;
    }
  }
  &__ttl {
    color: #222222;
    @include font-size(18);
    font-weight: bold;
    position: relative;
    padding: 0px 23px 0 53px;
    box-sizing: border-box;
    letter-spacing: 1px;
    margin: 3px 0 0;
    @include SP {
      padding: 0px 17px 0 20px;
      letter-spacing: 1px;
    }
    &:before {
      content: "";
      position: absolute;
      left: 15px;
      top: 5px;
      width: 20px;
      height: 21px;
      @include bgimg("../../img/top/ico_search.svg", no-repeat, center left, transparent, contain);
      @include SP {
        background: none;
      }
    }
  }
  &__map {
    background: $color_blue1;
    border: 1px solid $color_blue1;
    color: #ffffff;
    @include font-size(18);
    font-weight: bold;
    position: relative;
    width: 275px;
    height: 68px;
    padding: 18px 15px 18px 40px;
    box-sizing: border-box;
    letter-spacing: 1px;
    top: 1px;
    cursor: pointer;
    @media screen and (max-width: 330px) {
      padding: 19px 15px;
    }
    @include add_prefix(transition, 0.3s ease all);
    @include PC {
      &:hover {
        opacity: 0.5;
      }
    }
    @include SP {
      top: 0;
      margin: 8px 0 0;
    }
    &:before {
      content: "";
      position: absolute;
      left: 48px;
      top: 18px;
      width: 29px;
      height: 26px;
      @include bgimg("../../img/top/ico_map_pin.svg", no-repeat, center left, transparent, contain);
    }
    &::after {
      content: "";
      position: absolute;
      right: 23px;
      top: 30px;
      width: 17px;
      height: 5px;
      background-size: contain;
      @include bgimg("../../img/top/ico_arrow_white.svg", no-repeat, center right, transparent, contain);
    }
  }
  &__slider {
    position: relative;
    letter-spacing: 1px;
    margin: 32px 0 0;
    @include SP {
      margin: 0 14px;
    }
  }
  &__subttl {
    color: #222222;
    @include font-size(20);
    font-weight: bold;
    position: relative;
    display: inline-block;
    left: 3px;
    @include SP {
      @include font-size(17);
      line-height: 1.5;
      left: 0;
      span {
        letter-spacing: 1px;
        position: relative;
        left: -7px;
      }
    }
    &::before {
      display: inline-block;
      content: "";
      width: 1px;
      height: 40px;
      background: #707070;
      margin-right: 30px;
      position: relative;
      transform: rotate(-23deg);
      left: -28px;
      top: 14px;
      margin: 0;
      @include SP {
        position: absolute;
        height: 55px;
        left: -16px;
        top: 1px;
      }
    }
    &::after {
      display: inline-block;
      content: "";
      width: 1px;
      height: 40px;
      background: #707070;
      margin-right: 30px;
      top: 13px;
      transform: rotate(23deg);
      position: relative;
      left: auto;
      right: -22px;
      margin: 0;
      @include SP {
        position: absolute;
        height: 55px;
        right: -16px;
        top: 1px;
      }
    }
  }
  &__decor {
    @include font-size(22);
    font-weight: bold;
    width: 284px;
    height: 284px;
    background: $color_blue1;
    text-align: center;
    margin: 0 auto;
    border-radius: 50%;
    color: #ffffff;
    padding: 27px 0 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 86px;
    @include SP {
      top: 75px;
      width: 189px;
      height: 189px;
      @include font-size(18);
      padding: 20px 0 0;
    }
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: -8px;
      width: 24px;
      height: 28px;
      margin: 0 auto;
      @include bgimg("../../img/top/ico_flag_white.svg", no-repeat, center right, transparent, contain);
      @include SP {
        left: 10px;
      }
    }
  }
  &__slick {
    position: relative;
    z-index: 2;
    margin: 112px auto 109px;
    max-width: 789px;
    width: 100%;
    @media screen and (max-width: 1130px) {
      max-width: 600px;
    }
    @include SP {
      margin: 77px auto 45px;
    }
  }
  &__item {
    border: 1px solid #9aa1ad;
    max-width: 789px;
    width: 100%;
    background: #ffffff;
    margin: 0 auto;
    box-sizing: border-box;
    @include SP {
    }
  }
  &__child {
    margin-bottom: 35px;
    @include SP {
      margin-bottom: 12px;
    }
  }
  &__text {
    letter-spacing: 0.4px;
    @include font-size(16);
    line-height: 30px;
    text-decoration: underline;
    text-align: left;
    @include SP {
      padding: 0 2px;
    }
    a {
      text-align: left;
      display: block;
      @include multiLineEllipsis($lineCount: 3);
      @include SP {
        text-align: left;
        letter-spacing: 2.4px;
        line-height: 1.9;
      }
    }
  }
  &__img {
    width: 283px;
    // height: 211px;
    overflow: hidden;
    background-color: #ccc;
    background-size: cover;
    background-position: center center;
    background-image: url("../../img/top/img_dummy_bg.png");
    @include aspect-ratio(283, 211);
    @include SP {
      width: 50%;
      height: auto;
      margin: 0 0 0 -2px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  &__number {
    color: #0e398e;
    font-weight: bold;
    @include font-size(30);
    line-height: 30px;
    @include ffNS;
    margin-bottom: 9px;
    text-align: left;
    @include PC {
      letter-spacing: 0;
    }
    span {
      color: #222222;
      display: inline-block;
      @include font-size(18);
      line-height: 18px;
      font-weight: bold;
      margin: 0 0 0 5px;
    }
    @include SP {
      position: absolute;
      width: auto;
      top: 0;
      left: 0;
      letter-spacing: 0.3px;
      margin-bottom: 11px;
    }
  }
  &__tbl {
    width: 323px;
    @media screen and (max-width: 1130px) {
      padding: 0 0 0 20px;
      box-sizing: border-box;
    }
    @include SP {
      width: 48%;
      padding: 0;
    }
    table {
      border: 1px solid #9aa1ad;
      width: 100%;
    }
    th {
      @include font-size(14);
      color: $color_bg_secondary;
      font-weight: bold;
      width: 105px;
      text-align: left;
      padding: 6.5px 12px;
      @include SP {
        @include font-size(9);
        color: $color_bg_secondary;
        font-weight: bold;
        width: 55px;
        text-align: left;
        padding: 2px 3px 4px;
        letter-spacing: 3px;
      }
    }
    td {
      padding: 2px 0 1px 0;
      @include font-size(14);
      text-align: left;
      @include SP {
        @include font-size(9);
        padding: 2px 5px 1px;
        letter-spacing: -1px;
      }
    }
    tr {
      &:nth-child(odd) {
        background: #edeff5;
      }
      // &:nth-child(even) {
      //   th {
      //     padding: 9px 12px;
      //   }
      // }
    }
  }
  &__note {
    @include font-size(18);
    color: $color_bg_secondary;
    text-align: left;
    background: #edeff5;
    letter-spacing: 0;
    @include SP {
      @include font-size(14);
      letter-spacing: 0.5px;
    }
    @media screen and (max-width: 330px) {
      @include font-size(12);
    }
    span {
      background: $color_blue1;
      color: #ffffff;
      display: inline-block;
      padding: 13px 31px 9px;
      margin: 0 25px 0 0;
      letter-spacing: 1.2px;
      @include font-size(16);

      @include SP {
        padding: 4px 12px 4px;
        @include font-size(14);
        letter-spacing: 1px;
        margin-right: 20px;
      }
      @media screen and (max-width: 330px) {
        margin-right: 5px;
      }
    }
  }
  &__inner {
    padding: 28px 70px 30px;
    @include SP {
      padding: 15px 18px;
    }
  }
  &__area {
    @include flexbox;
    @include justify-content(space-between);
    @include SP {
      position: relative;
      padding: 40px 0 0;
    }
  }
  &__btn {
    @include flexbox;
    @include justify-content(space-between);
    margin: 35px 0 19px;
    @include SP {
      @include flex-wrap;
      margin: 21px -3px 0 -2px;
    }
    li {
      display: inline-block;
      width: 46.2%;
      @include SP {
        width: 100%;
        margin: 0 0 18px 0;
      }
      a {
        display: block;
        width: 100%;
        height: 60px;
        line-height: 60px;
        color: $color_bg_secondary;
        font-weight: bold;
        @include font-size(14);
        letter-spacing: 1px;
        text-align: center;
        background: #d8dee8 url(../../img/top/ico_arrow_black.svg) center right 20px no-repeat;
        @include add_prefix(transition, 0.3s ease all);
        @include PC {
          &:hover {
            opacity: 0.5;
          }
        }
        @include SP {
          height: 57px;
          background: #d8dee8 url(../../img/top/ico_arrow_black.svg) center right 15px no-repeat;
        }
      }
      &:nth-child(2) {
        a {
          color: #fff;
          background: $color_blue2 url(../../img/top/ico_arrow_white.svg) center right 20px no-repeat;
          @include PC {
            &:hover {
              opacity: 0.5;
            }
          }
          @include SP {
            background: $color_blue2 url(../../img/top/ico_arrow_white.svg) center right 15px no-repeat;
          }
        }
      }
    }
  }
  // -----------------------------------------------------------
  .slick-prev {
    position: absolute;
    background: url(../../img/top/ico_slide_prev.png) center top;
    background-size: 100% 100%;
    z-index: 9;
    top: 49%;
    left: -11.5%;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: none;
    outline: none;
    color: transparent;
    font-size: 0;
    transform: translateY(-50%);
    @include add_prefix(transition, 0.2s ease all);
    @include min-screen(767px) {
      &:hover {
        opacity: 0.5;
      }
    }
    @include SP {
      top: 46.6%;
      left: -9.5%;
      width: 45px;
      height: 45px;
    }
  }
  .slick-next {
    position: absolute;
    background: url(../../img/top/ico_slide_next.png) center top;
    background-size: 100% 100%;
    z-index: 9;
    top: 49%;
    right: -11.5%;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: none;
    outline: none;
    color: transparent;
    font-size: 0;
    transform: translateY(-50%);
    @include add_prefix(transition, 0.2s ease all);
    @include min-screen(767px) {
      &:hover {
        opacity: 0.5;
      }
    }
    @include SP {
      top: 46.6%;
      right: -9.5%;
      width: 45px;
      height: 45px;
    }
  }
  .slick-dots {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin: 15px auto 0;
    position: relative;
    left: -14px;
    @include SP {
      margin: 9px auto 0;
    }
    li {
      margin: 0 10px 0 0;
      &:last-child {
        max-width: 0;
      }
      button {
        background-color: #707070;
        width: 37px;
        height: 3px;
        font-size: 0;
        border: none;
        outline: none;
      }
      &.slick-active {
        button {
          background: $color_blue1;
        }
      }
    }
  }
}
/* =popup
-------------------------------------------------------------- */
.c-popup {
  position: relative;
  top: -100%;
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 250px;
  @include add_prefix(transition, 0.3s ease all);
  display: none;
  ::-webkit-scrollbar {
    display: none;
  }
  &.is-modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    display: block;
  }
  &__cont {
    background: #ffffff;
    max-width: 1110px;
    width: 100%;
    position: relative;
    overflow: scroll;
    max-height: 100vh;
  }
  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  &__inner {
    max-width: 820px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    padding: 110px 0;
    background: #ffffff;
    height: 100vh;
  }
  &__list {
    padding: 0 0 100px;
  }
  &__heading {
    color: #222222;
    @include font-size(20);
    font-weight: bold;
    position: relative;
    box-sizing: border-box;
    border-top: 2px solid #d8dee8;
    border-bottom: 2px solid #d8dee8;
    padding: 20px 0;
    margin: 0 0 23px;
    span {
      padding: 10px 39px 6px 42px;
      width: 270px;
      @include bgimg("../../img/top/ico_map_pin_blue.svg", no-repeat, center left -3px, transparent, 36px 26px);
    }
  }
  &__close {
    width: 63px;
    height: 63px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 999;
    @include add_prefix(transition, 0.3s ease all);
    @include PC {
      &:hover {
        opacity: 0.5;
      }
    }
  }
  &__item {
    margin: 0 0 25px;
    @include clearfix;
    &--prewidth {
      .c-popup__label {
        width: 25%;
        @include SP {
          width: 50%;
        }
      }
    }
  }
  &__ttl {
    @include bgimg("../../img/top/ico_pin_map.svg", no-repeat, left 20px top 15px, #edeff5, 12px 18px);
    @include font-size(16);
    font-weight: bold;
    padding: 12px 20px 7px 40px;
    letter-spacing: 1px;
    text-align: left;
    margin: 0 0 17px;
  }
  &__label {
    display: block;
    float: left;
    width: 19.9%;
    position: relative;
    @include font-size(15);
    padding-left: 28px;
    margin: 0 0 8px;
    user-select: none;
    cursor: pointer;
    text-align: left;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked ~ .checkmark {
        background: $color_blue1;
        border-color: $color_blue1;
        &::after {
          display: block;
        }
      }
    }
    span {
      position: absolute;
      top: 4px;
      left: 0;
      height: 15px;
      width: 15px;
      background-color: #fff;
      border: 1px solid #9aa1ad;
      box-sizing: border-box;
      &::after {
        content: "";
        position: absolute;
        left: 4px;
        top: 1px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        display: none;
      }
    }
    @include SP {
      width: 50%;
    }
  }
  &__bottom {
    background: #edeff5;
    @include flexbox;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
  }
  &__result {
    @include font-size(20);
    color: #222222;
    font-weight: bold;
    max-width: 240px;
    width: 100%;
    margin: 0 22px 0 0;
    span {
      @include font-size(38);
      color: #0e398e;
      margin: 0 5px 0 10px;
      @include ffNS;
    }
    @include SP {
      @include font-size(14);
      width: 50%;
      text-align: center;
      margin: 0 auto;
      span {
        @include font-size(24);
      }
    }
  }
  &__find {
    background: $color_blue1;
    @include font-size(18);
    font-weight: bold;
    position: relative;
    width: 290px;
    height: 75px;
    padding: 20px 15px 20px 40px;
    box-sizing: border-box;
    letter-spacing: 1px;
    text-decoration: none;
    color: inherit;
    line-height: 2;
    span {
      color: #ffffff;
    }
    &::before {
      content: "";
      position: absolute;
      left: 40px;
      top: 29px;
      width: 20px;
      height: 20px;
      background-size: cover;
      background-image: url(../../img/top/ico_search_white.svg);
      @include SP {
        width: 18px;
      }
    }
    &::after {
      content: "";
      position: absolute;
      right: 24px;
      top: 35px;
      width: 17px;
      height: 5px;
      background-size: contain;
      background-image: url(../../img/top/ico_arrow_white.svg);
      background-repeat: no-repeat;
    }
    @include SP {
      @include font-size(12);
      padding: 0 15px;
      text-align: center;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      &::before {
        left: 20px;
      }
    }
  }
  &__box {
    @include SP {
      padding: 0 20px;
    }
  }
}
/*
-------------------------------------------------------------- */
.c-new {
  background: #edeff5;
  padding: 103px 0 135px;
  position: relative;
  @include SP {
    padding: 45px 4px 65px;
  }
  &::before {
    display: block;
    content: "";
    width: 590px;
    height: 551px;
    background-image: url(../../img/top/bg_property.png);
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    @include SP {
      width: 100%;
      height: 262px;
      background-position: left -30px bottom -5px;
      background-repeat: no-repeat;
    }
  }
  &__inner {
    max-width: 1130px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
    @include SP {
      padding: 0 26px;
    }
  }
  &__heading {
    @include font-size(18);
    letter-spacing: 1px;
    text-align: center;
    font-weight: normal;
    margin: 0 0 64px 0;
    @include SP {
      margin: 0 0 42px 0;
    }
    span {
      @include font-size(34);
      @include ffNS;
      letter-spacing: 2px;
      margin: 5px 0 2px;
      font-weight: bold;
      display: block;
      @include SP {
        margin: 7px 0 0;
        letter-spacing: 1.7px;
      }
    }
  }
  &__item {
    display: inline-block;
    max-width: 350px;
    width: 100%;
    vertical-align: top;
    margin: 0 12px 34px 11px;
    background: #fff;
    border: 1px solid #9aa1ad;
    box-sizing: border-box;
    position: relative;
    @media screen and (max-width: 1130px) {
      max-width: 46%;
      margin: 0 2% 35px;
    }
    @include SP {
      margin: 0 auto 25px;
      height: auto;
      max-width: inherit;
      &:nth-child(5) {
        display: none;
      }
      &:nth-child(6) {
        display: none;
      }
    }
  }
  &__categ {
    @include font-size(15);
    font-weight: bold;
    background: #e1e5ed;
    > p {
      display: inline-block;
      padding: 6px 15px;
    }
  }
  &__text {
    background: $color_blue1;
    color: #fff;
  }
  &__box {
    padding: 15px 20px 26px;
    @include SP {
      padding: 15px 24px 27px;
    }
  }
  &__list {
    font-size: 0;
    margin: 0 -10px 42px;
    position: relative;
    z-index: 1;
    @include flexbox;
    @include flex-wrap;
    @include SP {
      margin-bottom: 8px;
    }
  }
  &__col {
    @include flexbox;
    @include align-items(flex-start);
    @include justify-content(space-between);
    @include SP {
      margin: 0 2px 0 -2px;
    }
  }
  &__link {
    @include font-size(16);
    line-height: 27px;
    text-decoration: underline;
    margin-bottom: 18px;
    @include multiLineEllipsis($lineCount: 3);
    @include SP {
      letter-spacing: 2.4px;
      line-height: 1.9;
      margin-bottom: 7px;
    }
    a {
      text-decoration: none;
      color: inherit;
      font-weight: normal;
      letter-spacing: 0.4px;
      @include PC {
        display: block;
      }
      @include min-screen(768px) {
        &:hover {
          color: $color_blue1;
          opacity: 1;
        }
      }
      @include SP {
        letter-spacing: 2.2px;
      }
    }
  }
  &__prices {
    @include font-size(32);
    line-height: 32px;
    @include ffNS;
    font-weight: bold;
    color: #0e398e;
    margin-bottom: 15px;
    @include SP {
      letter-spacing: -1px;
    }
    span {
      display: inline-block;
      @include font-size(18);
      line-height: 18px;
      padding-left: 4px;
      color: #222222;
      @include SP {
        position: relative;
        top: -2px;
        left: 1px;
      }
    }
  }
  &__img {
    width: 140px;
    // height: 106px;
    overflow: hidden;
    background-color: #ccc;
    background-size: cover;
    background-position: center center;
    background-image: url("../../img/top/img_dummy_bg.png");
    @include aspect-ratio(140, 106);
    img {
      width: 100%;
      height: auto;
    }
    @media (max-width: 374px) {
      width: 120px;
    }
  }
  &__tbl {
    width: calc(100% - 140px);
    float: left;
    padding-left: 15px;
    table {
      width: 100%;
      border-collapse: collapse;
      line-height: 1.6;
      th {
        @include font-size(11);
        color: $color_bg_secondary;
        font-weight: bold;
        width: 70px;
        text-align: left;
        padding-left: 10px;
        @include SP {
          width: 62px;
          @include font-size(11);
        }
      }
      td {
        padding: 2px 0 2px;
        @include font-size(11);
        @include SP {
          padding: 2px 0 2px;
          @include font-size(11);
        }
      }
      tr {
        &:nth-child(odd) {
          background: #edeff5;
        }
      }
    }
    @media (max-width: 374px) {
      width: calc(100% - 120px);
      float: left;
      padding-left: 5px;
    }
  }
  &__btn {
    color: $color_bg_secondary;
    display: block;
    margin: 0 auto;
    width: 266px;
    height: 57px;
    line-height: 57px;
    border: 1px solid #9aa1ad;
    box-sizing: border-box;
    @include font-size(14);
    text-align: center;
    text-decoration: none;
    color: inherit;
    background: #ffffff url(../../img/top/ico_arrow_black.svg) center right 20px no-repeat;
    opacity: 1;
    position: relative;
    @include min-screen(768px) {
      &:hover {
        opacity: 0.5;
      }
    }
    @include SP {
      background: #fff url(../../img/top/ico_arrow_black.svg) center right 10px no-repeat;
      padding: 0 2px 0 0;
      letter-spacing: 0.8px;
      position: relative;
    }
  }
}
/* =event
-------------------------------------------------------------- */
.c-event {
  background: #ffffff;
  padding: 96px 0 132px;
  position: relative;
  @include SP {
    padding: 63px 20px 12px;
  }
  &__heading {
    @include font-size(18);
    letter-spacing: 1px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 72px;
    @include SP {
      @include font-size(16);
      line-height: 1.63;
      margin: 0 0 48px;
      position: relative;
      left: -7px;
      letter-spacing: 0.9px;
    }
    span {
      @include font-size(34);
      @include ffNS;
      letter-spacing: 2px;
      margin: 5px 0 7px;
      font-weight: bold;
      display: block;
      @include SP {
        @include font-size(30);
        margin: 0 0 5px;
        left: 8px;
        position: relative;
      }
    }
  }
  &__cont {
    @include flexbox;
    @include flex-wrap;
    @include align-items(flex-start);
    @include justify-content(flex-start);
  }
  &__col {
    max-width: 385px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 0 38px 0 30px;
    border-right: 1px solid #d8dee8;
    box-sizing: border-box;
    &:first-child {
      border: none;
    }
    @media screen and (max-width: 1130px) {
      max-width: 50%;
      padding: 0 20px;
      margin-bottom: 55px;
      .event-img {
        width: 100%;
        height: 100%;
      }
    }
    @include SP {
      max-width: 100%;
      padding: 0;
      border: none;
      margin: 0 0 54px;
    }
  }
  &__list {
    @include clearfix;
    @include SP {
      margin: 0 -7px;
      @include flexbox;
    }
  }
  &__item {
    margin-bottom: 43px;
    overflow: hidden;
    &:last-child {
      margin: 0;
    }
    a {
      display: block;
      @include min-screen(768px) {
        &:hover {
          .c-event__subttl {
            color: $color_blue1;
          }
          .c-event__categ {
            small,
            em {
              color: $color_blue1;
            }
          }
        }
      }
    }
    @include SP {
      width: 50%;
      padding: 0 8px;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 0;
    }
  }
  &__ttl {
    height: 35px;
    line-height: 35px;
    color: #fff;
    @include font-size(18);
    font-weight: bold;
    text-align: center;
    background: $color_blue1;
    margin-bottom: 33px;
    position: relative;
    @include SP {
      margin-bottom: 35px;
      height: 36px;
    }
    &::after {
      display: block;
      content: "";
      width: 0;
      height: 0;
      border: 8px solid transparent;
      border-top: 12px solid $color_blue1;
      position: absolute;
      left: 50%;
      bottom: -18px;
      margin-left: -8px;
    }
  }
  &__img {
    width: 319px;
    height: 232px;
    overflow: hidden;
    background-color: #ccc;
    background-size: cover;
    background-position: center center;
    background-image: url("../../img/top/img_dummy_bg.png");
    @include aspect-ratio(319, 232);
    @include SP {
      margin: 0;
      width: auto;
      height: auto;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  &__info {
    padding: 22px 0 0;
    @include SP {
      padding: 0;
      margin: 12px 0 0;
      position: relative;
      display: inline-flex;
      @include flex-wrap;
      .c-event__subttl {
        order: 1;
      }
      .c-event__categ {
        order: 2;
        display: table;
        width: 100%;
        span {
          padding: 5px 13px 2px;
          position: absolute;
          top: 0;
        }
      }
    }
  }
  &__categ {
    @include clearfix();
    span {
      display: inline-block;
      @include font-size(13);
      color: #fff;
      font-weight: bold;
      background: $color_blue1;
      margin-bottom: 5px;
      padding: 6px 18px 4px;
      margin-right: 9px;
      @include PC {
        max-width: 75px;
        padding: 6px 0 4px;
        width: 100%;
        text-align: center;
      }
      @include SP {
        padding: 3px 14px 3px;
        margin-right: 15px;
        line-height: 1.5;
        min-width: 66px;
        text-align: center;
        height: 25px;
        span {
          @include clearfix();
        }
      }
    }
    small {
      display: inline-block;
      @include font-size(14);
      @include bgimg("../../img/top/ico_lock.svg", no-repeat, center left, transparent, 18px 18px);
      font-weight: bold;
      padding: 2px 10px 0 26px;
      @include SP {
        padding: 0 8px 0 18px;
        display: table-cell;
        background-position: top 3px left;
        @include font-size(13);
        background-size: 14px 14px;
        width: 50%;
        line-height: 1;
      }
    }
    i,
    em {
      font-style: normal;
      @include font-size(14);
      @include SP {
        display: table-cell;
        @include font-size(13);
        line-height: 1.65;
      }
    }
    em {
      @include PC {
        width: 40%;
        margin: 0 auto 0 0;
        display: inline-flex;
      }
    }
    i {
      letter-spacing: 0.4px;
      margin: 0 0 0 3px;
    }
    @include SP {
      em {
        width: 50%;
      }
      i {
        display: inline;
        letter-spacing: auto;
        margin: auto;
      }
    }
  }
  &__subttl {
    display: block;
    @include multiLineEllipsis($lineCount: 2);
    margin: 13px 0 0;
    @include font-size(16);
    color: $color_bg_secondary;
    text-decoration: underline;
    font-weight: normal;
    font-weight: normal;
    letter-spacing: 0.9px;
    line-height: 1.7;
    @include PC {
      height: 54px;
    }
    @include SP {
      margin: 10px 0 14px -2px;
      line-height: 1.4;
      letter-spacing: -1.3px;
      @include multiLineEllipsis($lineCount: 4);
    }
  }
  &__btn {
    display: block;
    margin: 36px auto 0;
    height: 54px;
    line-height: 57px;
    @include font-size(14);
    text-align: center;
    background: #fff url(../../img/top/ico_arrow_black.svg) no-repeat;
    max-width: 240px;
    width: 100%;
    background-color: #d9dfe3;
    background-position: center right 10px;
    padding: 0 24px 0 10px;
    letter-spacing: -0.6px;
    @include add_prefix(transition, 0.3s ease all);
    @include PC {
      &:hover {
        opacity: 0.5;
      }
    }
    @include SP {
      margin: 28px auto 0;
      padding: 0 20px 0 8px;
      letter-spacing: -0.5px;
      background-position: top 22px right 11px;
      line-height: 54px;
      height: 52px;
    }
  }
  &__tag {
    display: inline-block;
    @include font-size(13);
    color: #fff;
    font-weight: bold;
    background: #011f5a;
    padding: 3px 14px 3px;
    margin-right: 15px;
    line-height: 1.5;
    min-width: 66px;
    text-align: center;
    height: 25px;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  #area01 {
    order: 1;
    @media (min-width: 768px) and (max-width: 1130px) {
      max-width: 380px;
    }
  }
  #area02 {
    order: 2;
    @include PC {
      padding: 0 38px 0 38px;
      max-width: 392px;
    }
    @include SP {
      margin: 0 0 27px;
    }
  }
  #area03 {
    order: 3;
    @include PC {
      padding: 0 26px 0 38px;
      max-width: 380px;
    }
    @include SP {
      line-height: 50px;
      padding-left: 0px;
      margin-top: 27px;
      .c-event__tag {
        position: relative;
        top: -3px;
      }
      .c-event__subttl {
        margin-top: 6px;
      }
      .c-event__btn {
        padding: 0 21px 0 0;
        line-height: 52px;
      }
    }
  }
}
/* =building
-------------------------------------------------------------- */
.c-building {
  position: relative;
  padding: 395px 0 0;
  border-bottom: 1px solid #d9dfe3;
  overflow: hidden;
  @media screen and (max-width: 1130px) {
    padding: 283px 0 0;
  }
  @include SP {
    padding: 110px 0 0;
  }
  &::before {
    display: block;
    content: "";
    width: 100%;
    height: 483px;
    background: url(../../img/top/bg_top03.jpg) center top;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    @media screen and (max-width: 1130px) {
      height: 383px;
    }
    @include SP {
      height: 133px;
    }
  }
  &__heading {
    @include font-size(18);
    letter-spacing: 1px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 145px;
    position: relative;
    @include SP {
      left: -5px;
      letter-spacing: 0.5px;
      @include font-size(16);
      margin-bottom: 35px;
    }
    span {
      @include font-size(34);
      @include ffNS;
      letter-spacing: 2px;
      margin: 5px 0 6px;
      font-weight: bold;
      display: block;
      @include SP {
        @include font-size(30);
        margin: 17px 0 11px;
        line-height: 1.2;
        letter-spacing: 1.7px;
        position: relative;
        left: 5px;
      }
    }
  }
  &__item {
    padding: 0 0 100px;
    // overflow: hidden;
    &:first-child {
      @include PC {
        .c-building__decor span:nth-of-type(1) {
          position: relative;
          top: -6px;
        }
      }
      @include SP {
        .c-building__decor span:nth-of-type(2) {
          letter-spacing: 3.2px;
          position: relative;
          right: -5px;
        }
      }
      @media screen and (max-width: 330px) {
        .c-building__item:first-child .c-building__decor span:nth-of-type(2) {
          letter-spacing: 1.2px;
          position: relative;
          right: 8px;
        }
      }
    }
    &:nth-child(2) {
      padding-bottom: 67px;
      .c-building__box {
        margin: 0 100px 0 auto;
      }
      .c-building__info {
        padding-left: 123px;
        background: url(../../img/top/ico_house04.svg) left top 8px no-repeat;
      }
      .c-building__info,
      .c-building__decor {
        margin: 0;
        position: relative;
        left: -91px;
        top: -26px;
        @include SP {
          margin: 10px 0 0 0;
          left: 0;
          right: 0;
          span:nth-of-type(2) {
            padding-left: 0;
            position: relative;
            left: -24px;
            line-height: 1.2;
            @include SP {
              left: 0;
            }
          }
        }
      }
      @include PC {
        .c-building__decor span:nth-of-type(2) {
          padding-top: 0;
          padding-left: 76px;
          position: relative;
          top: -4px;
        }
        .c-building__info {
          margin: -50px 0 0 53px;
        }
        .c-building__title {
          letter-spacing: 2px;
        }
        .c-building__img {
          margin: 0 0 0 10px;
        }
      }
      @media (min-width: 768px) and (max-width: 1250px) {
        .c-building__cont {
          padding: 0 25px;
          width: 50%;
        }
        .c-building__decor {
          left: -50px;
        }
        .c-building__img {
          width: 50%;
          margin: 0 !important;
        }
      }
      @include SP {
        margin-bottom: 45px;
        padding: 0;
        .c-building__info {
          top: 0;
          margin: -54px 0 24px 0;
          padding: 0 0 0 90px;
          @include bgimg("../../img/top/ico_house04.svg", no-repeat, left 20px top 12px, transparent, 61px 22px);
        }
      }
    }
    &:nth-child(3) {
      @include PC {
        .c-building__img {
          width: 49%;
          position: relative;
          z-index: 2;
        }
        .c-building__cont {
          width: 50%;
        }
        .c-building__intro {
          margin-left: -14px;
          margin-top: -1px;
          padding-right: 9px;
        }
        .c-building__decor {
          margin-left: -173px;
          margin-top: -18px;
        }
        .c-building__decor span:nth-of-type(2) {
          padding-top: 0;
          padding-left: 35px;
          position: relative;
          top: -42px;
          letter-spacing: 6.3px;
        }
      }
      @media (min-width: 768px) and (max-width: 1130px) {
        .c-building__decor {
          margin-left: -150px;
        }
        .c-building__info {
          margin-top: -40px;
        }
      }
      @include SP {
        margin-bottom: 44px;
      }
      .c-building__info {
        background: url(../../img/top/ico_house03.svg) left top 8px no-repeat;
        @include PC {
          margin-left: -17px;
          padding-left: 89px;
          .c-building__title {
            letter-spacing: 3px;
          }
        }
      }
      @include SP {
        .c-building__decor span:nth-of-type(2) {
          padding: 0 0 0 0;
          position: relative;
          top: -20px;
          letter-spacing: 3px;
          left: -3px;
        }
        .c-building__info {
          background: url(../../img/top/ico_house03.svg) left 20px top 33px no-repeat;
          background-size: 54px 39px;
        }
      }
    }
    &:last-child {
      padding-bottom: 0;
      @include SP {
        padding: 0 0 9px;
      }
    }
    @include clearfix;
    @include SP {
      @include flexbox;
      @include flex-wrap;
      overflow: hidden;
      margin-bottom: 38px;
      padding: 0;
      .c-building__img {
        order: 1;
        float: none;
      }
      .c-building__cont {
        order: 2;
      }
    }
  }
  &__img {
    width: 48.2%;
    // height: 633px; //xx
    float: left;
    @include SP {
      width: 100%;
      order: 1;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  &__cont {
    width: 51%;
    float: left;
    padding-left: 155px;
    @include SP {
      width: 100%;
      padding: 0;
      order: 2;
    }
  }
  &__box {
    max-width: 426px;
    width: 100%;
  }
  &__decor {
    color: rgba(1, 31, 90, 0.1);
    display: table;
    width: 100%;
    white-space: nowrap;
    margin-left: -163px;
    margin-top: -20px;
    @media screen and (max-width: 1130px) {
      margin-top: 0;
    }
    @include SP {
      margin: -15px 0 0 0;
    }
    span {
      display: table-cell;
      @include ffNS;
      font-weight: bold;
      &:nth-of-type(1) {
        @include font-size(193);
        line-height: 193px;
        vertical-align: top;
        @media screen and (max-width: 1130px) {
          @include font-size(120);
          line-height: 120px;
        }
        @include SP {
          @include font-size(103);
          line-height: 1.02;
          width: 155px;
          position: relative;
          left: -5px;
        }
      }
      &:nth-of-type(2) {
        @include font-size(62);
        line-height: 80px;
        letter-spacing: 6px;
        vertical-align: middle;
        padding-top: 22px;
        padding-left: 59px;
        @media screen and (max-width: 1130px) {
          @include font-size(50);
          line-height: 50px;
          letter-spacing: 0;
          padding: 0;
        }
        @include SP {
          @include font-size(33);
          line-height: 1.2;
          letter-spacing: 2.2px;
          vertical-align: middle;
          padding-top: 0;
          padding-left: 0;
        }
      }
    }
  }
  &__info {
    padding-left: 83px;
    margin-top: -55px;
    margin-bottom: 26px;
    background: url(../../img/top/ico_house02.svg) left top 5px no-repeat;
    @media (min-width: 768px) and (max-width: 1130px) {
      margin-top: 0;
    }
    @include SP {
      padding: 27px 0 1px 91px;
      background: url(../../img/top/ico_house02.svg) left 19px top 32px no-repeat;
      background-size: 56px 41px;
      margin-bottom: 22px;
    }
  }
  &__title {
    @include font-size(30);
    color: $color_bg_secondary;
    line-height: 30px;
    margin-bottom: 7px;
    font-weight: normal;
    @include SP {
      @include font-size(25);
      letter-spacing: 3px;
      margin-bottom: 3px;
    }
  }
  &__text {
    color: $color_blue1;
    @include ffNS;
    @include font-size(16);
    font-weight: bold;
    letter-spacing: 1px;
    @include SP {
      @include font-size(13);
      letter-spacing: 1.4px;
    }
  }
  &__intro {
    @include font-size(14);
    color: $color_bg_secondary;
    padding: 3px 2px 20px 0;
    line-height: 1.8;
    margin: -2px 0 27px -3px;
    @include SP {
      padding: 0 18px;
      margin: 0;
    }
  }
  &__link {
    @include font-size(17);
    text-align: center;
    display: block;
    margin: 0 39px 0 0;
    span {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        @include bgimg("../../img/top/ico_circle_next.png", no-repeat, center left, transparent, 19px 19px);
        width: 19px;
        height: 19px;
        top: 0px;
        right: -28px;
      }
    }
    @include add_prefix(transition, 0.3s ease all);
    @include PC {
      &:hover {
        span {
          color: #011f5a;
        }
        opacity: 0.5;
      }
    }
  }
}
/* =works
-------------------------------------------------------------- */
.c-works {
  background: #ffffff;
  padding: 110px 0 105px;
  position: relative;
  overflow: hidden;
  @include SP {
    padding: 64px 0 84px;
  }
  &__heading {
    @include font-size(18);
    letter-spacing: 1px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 60px;
    @include SP {
      letter-spacing: -1px;
      margin: 0 0 35px;
    }
    span {
      @include font-size(34);
      @include ffNS;
      letter-spacing: 2px;
      font-weight: bold;
      display: block;
      @include PC {
        margin: 6px 0 3px;
      }
      @include SP {
        margin: 8px 0 3px;
        @include font-size(30);
      }
    }
  }
  &__img {
    overflow: hidden;
    background-color: #ccc;
    background-size: cover;
    background-position: center center;
    background-image: url("../../img/top/img_dummy_bg.png");
    @include aspect-ratio(402, 305);
  }
  &__cate {
    background-color: #edeff5;
    margin: 0 0 18px 0;
    @include SP {
      margin: 0 0 13px 0;
    }
    span {
      background-color: #edeff5;
      @include font-size(13);
      display: inline-block;
      padding: 10px 23px 5px 13px;
      &.txt1 {
        background-color: $color_blue1;
        color: #ffffff;
      }
      &.txt2 {
        color: $color_bg_secondary;
      }
      @include SP {
        padding: 5px 11px 4px 10px;
        margin: -3px 0 0;
        &.txt2 {
          padding: 5px 11px 4px 15px;
        }
      }
    }
  }
  &__text {
    color: $color_bg_secondary;
    @include font-size(16);
    margin: 0 0 25px 0;
    @include multiLineEllipsis($lineCount: 2);
    letter-spacing: 0.75px;
    @include SP {
      letter-spacing: 0.85px;
      line-height: 1.7;
      margin: 0 0 9px 0;
    }
  }
  &__note {
    color: #839095;
    @include font-size(13);
    margin: 0 0 0 4px;
  }
  &__list {
    @include flexbox;
    @include flex-wrap;
    margin: 0 -14px;
    @media (min-width: 1130px) and (max-width: 1260px) {
      max-width: 1260px;
      width: 100%;
      margin: 0 auto;
    }
    @media screen and (max-width: 1130px) {
      margin: 0 auto;
    }

    @include SP {
      padding: 0 20px;
      box-sizing: border-box;
    }
  }
  &__item {
    max-width: 402px;
    width: 100%;
    margin: 0 14px 28px 14px;
    box-sizing: border-box;
    @media (min-width: 1130px) and (max-width: 1265px) {
      max-width: calc(100% / 3 - 14px);
      margin: 0 20px 0 0;
      &:nth-of-type(3) {
        margin: 0;
      }
    }
    @media screen and (max-width: 1130px) {
      max-width: 50%;
      margin: 0 0 28px;
      padding: 0 20px;
      .works-img {
        width: 100%;
        height: auto;
      }
    }
    @include SP {
      max-width: 100%;
      margin: 0 auto 41px;
      padding: 0;
    }
  }
  &__btn {
    display: block;
    margin: 30px auto 0;
    height: 57px;
    line-height: 57px;
    @include font-size(14);
    text-align: center;
    background: #fff url(../../img/top/ico_arrow_black.svg) no-repeat;
    max-width: 268px;
    width: 100%;
    background-color: #d9dfe3;
    background-position: center right 22px;
    padding: 2px 30px 2px 31px;
    letter-spacing: 0.4px;
    @include min-screen(768px) {
      &:hover {
        opacity: 0.5;
      }
    }
    @include SP {
      margin: 3px auto 0;
      max-width: 266px;
      background-position: center right 12px;
      line-height: 60px;
      padding: 0;
      letter-spacing: 0.8px;
    }
  }
  a {
    text-decoration: none;
    color: inherit;
    display: block;
  }
  .content {
    max-width: 1262px;
  }
}
/* =interview
-------------------------------------------------------------- */
.c-interview {
  background: #edeff5;
  padding: 97px 0 108px;
  position: relative;
  overflow: hidden;
  @include SP {
    padding: 40px 0 60px;
  }
  &__heading {
    @include font-size(18);
    letter-spacing: 1px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 62px;
    @include SP {
      left: -5px;
      letter-spacing: 0.5px;
      @include font-size(16);
      margin-bottom: 17px;
    }
    span {
      @include font-size(34);
      @include ffNS;
      letter-spacing: 2px;
      margin: 5px 0 8px;
      font-weight: bold;
      display: block;
      @include SP {
        @include font-size(30);
        margin: 17px 0 11px;
        line-height: 1.2;
        letter-spacing: 1.7px;
        position: relative;
        left: 1px;
      }
    }
  }
  &__img {
    overflow: hidden;
    background-color: #ccc;
    background-size: cover;
    background-position: top center;
    background-image: url("../../img/top/img_dummy_bg.png");
    @include aspect-ratio(296, 296);
    @include SP {
      // width: 296px;
      // height: 296px;
      margin: 0 auto;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  &__cate {
    background-color: #ffffff;
    margin: 0 0 14px 0;
    span {
      background-color: #edeff5;
      @include font-size(13);
      display: inline-block;
      padding: 8px 25px 7px 21px;
      &.txt1 {
        background-color: $color_blue1;
        color: #ffffff;
      }
      &.txt2 {
        color: $color_bg_secondary;
        padding: 8px 13px 7px 13px;
        background-color: #ffffff;
      }
    }
  }
  &__text {
    color: $color_bg_secondary;
    @include font-size(16);
    margin: 0 0 20px 0;
    letter-spacing: 0.8px;
    @include multiLineEllipsis($lineCount: 2);
  }
  &__note {
    color: #839095;
    @include font-size(13);
    padding: 0 0 0 5px;
  }
  &__list {
    @include flexbox;
    @include flex-wrap;
    margin: 0 -20px 0 -15px;
    @media screen and (max-width: 1130px) {
      margin: 0 auto;
    }
    @include SP {
      padding: 67px 0 0 20px;
      box-sizing: border-box;
      margin: 0 auto;
    }
  }
  &__item {
    max-width: 296px;
    width: 100%;
    margin: 0 14px 28px 14px;
    box-sizing: border-box;
    @include add_prefix(transition, 0.2s ease all);
    @media (min-width: 1130px) and (max-width: 1265px) {
      max-width: calc(100% / 4 - 20px);
      margin: 0 auto;
    }
    @media screen and (max-width: 1130px) {
      max-width: 50%;
      padding: 0 10px;
      margin: 0 auto 28px;
      .interview-img {
        width: 100%;
        height: auto;
        overflow: hidden;
      }
    }
    @include min-screen(768px) {
      &:hover {
        opacity: 0.5;
      }
    }
    @include SP {
      max-width: 100%;
      margin: 0 0 35px 0;
      // width: 325px !important;
      .c-interview__img {
        // width: 306px;
        height: 296px;
      }
      &.slick-current.slick-active {
        transform: none;
      }
      &.slick-active {
        transform: translateX(-50%);
      }
      &.slick-current + .slick-active {
        transform: translateX(50%);
      }
      .c-interview__cate {
        padding: 0 0 0 15px;
      }
      .c-interview__text,
      .c-interview__note {
        padding: 0 0 0 18px;
      }
    }
  }
  &__text {
    @include SP {
      @include multiLineEllipsis($lineCount: 2);
    }
  }
  &__btn {
    display: block;
    margin: 37px auto 0;
    height: 57px;
    line-height: 57px;
    @include font-size(14);
    text-align: center;
    background: #fff url(../../img/top/ico_arrow_black.svg) no-repeat;
    max-width: 272px;
    width: 100%;
    background-color: #ffffff;
    background-position: center right 16px;
    padding: 0 13px 0 13px;
    letter-spacing: 0.7px;
    @include min-screen(768px) {
      &:hover {
        opacity: 0.5;
      }
    }
    @include SP {
      background-position: center right 11px;
      border: 1px solid #9aa1ad;
      box-sizing: border-box;
      margin: 5px auto 0;
      height: 57px;
      max-width: 266px;
    }
  }
  a {
    text-decoration: none;
    color: inherit;
    @include SP {
      display: block;
      overflow: hidden;
    }
  }
  .content {
    max-width: 1262px;
  }
  // -----------------------------------------------------------
  .slick-prev {
    position: absolute;
    background: url(../../img/top/ico_slide_prev.png) center top;
    background-size: 100% 100%;
    z-index: 9;
    top: 49%;
    left: -11.5%;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: none;
    outline: none;
    color: transparent;
    font-size: 0;
    transform: translateY(-50%);
    @include SP {
      top: 43.5%;
      left: 7px;
      width: 42px;
      height: 42px;
    }
  }
  .slick-next {
    position: absolute;
    background: url(../../img/top/ico_slide_next.png) center top;
    background-size: 100% 100%;
    z-index: 9;
    top: 49%;
    right: -11.5%;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: none;
    outline: none;
    color: transparent;
    font-size: 0;
    transform: translateY(-50%);
    @include SP {
      top: 43.5%;
      right: 6px;
      width: 42px;
      height: 42px;
    }
  }
  .slick-dots {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin: 15px auto 0;
    position: relative;
    left: -14px;
    @include SP {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    li {
      margin: 0 10px 0 0;
      &:last-child {
        max-width: 0;
      }
      button {
        background-color: #707070;
        width: 37px;
        height: 3px;
        font-size: 0;
        border: none;
        outline: none;
      }
      &.slick-active {
        button {
          background: $color_blue1;
        }
      }
    }
  }
  .slick-track {
    max-height: 438px !important;
  }
  .slick-initialized .slick-slide {
    display: block;
    transform: translateX(-8%);
  }
  // .c-interview__item.slick-active {
  //   transform: translateX(0);
  // }
}
/* =topics
-------------------------------------------------------------- */
.c-topics {
  padding: 78px 0 124px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  @media (min-width: 767px) and (max-width: 1130px) {
    padding: 78px 20px 124px;
    .c-topics__left {
      padding: 0 15px 0 0;
    }
  }
  @include SP {
    padding: 36px 0 111px;
    position: relative;
    margin: 0 auto 84px;
  }
  &__heading {
    @include font-size(18);
    letter-spacing: 1px;
    text-align: left;
    font-weight: normal;
    margin-bottom: 36px;
    @include SP {
      text-align: center;
      letter-spacing: -1px;
      position: relative;
      left: -5px;
      margin-bottom: 25px;
    }
    span {
      @include font-size(34);
      @include ffNS;
      letter-spacing: 2px;
      margin: 5px 0 8px;
      font-weight: bold;
      display: block;
      @include SP {
        @include font-size(30);
        letter-spacing: 1.5px;
        margin: 7px 0 2px;
        position: relative;
        left: 1px;
      }
    }
  }
  &__inner {
    @include flexbox;
    @include justify-content(space-between);
    @include SP {
      display: block;
    }
  }
  &__left {
    max-width: 345px;
    width: 100%;
    padding: 0 15px 0 31px;
    @include SP {
      max-width: 100%;
      padding: 0;
    }
  }
  &__right {
    max-width: calc(100% - 345px);
    width: 100%;
    padding: 22px 0 0 34px;
    @include SP {
      max-width: 100%;
      padding: 0;
    }
    li {
      a {
        text-decoration: none;
        color: inherit;
        @include flexbox;
        @include align-items(flex-start);
      }
    }
  }
  &__img {
    width: 80px;
    height: 80px;
    overflow: hidden;
    background-color: #ccc;
    background-size: cover;
    background-position: center center;
    background-image: url("../../img/top/img_dummy_bg.png");
    @include aspect-ratio(80, 80);
    img {
      width: 100%;
      height: auto;
    }
  }
  &__ctn {
    width: calc(100% - 100px);
    margin: 7px 0 0 20px;
    @include SP {
      margin: 0 0 0 19px;
    }
    span {
      display: inline-block;
      @include font-size(13);
      @include ffNS;
      color: #839095;
      padding-right: 9px;
      letter-spacing: 1px;
      @include SP {
        padding-right: 5px;
        letter-spacing: 0.35px;
      }
      &.noti {
        display: inline-block;
        padding: 3px 8px 3px;
        background: $color_blue1;
        @include font-size(11);
        font-weight: bold;
        color: #fff;
        @include SP {
          padding: 3px 9px 3px 7px;
        }
      }
    }
  }
  &__cat {
    display: inline-block;
    padding: 3px 8px 3px;
    background: $color_blue1;
    @include font-size(11);
    font-weight: bold;
    color: #fff;
    @include SP {
      padding: 3px 9px 3px 7px;
    }
  }
  &__title {
    @include font-size(16);
    color: $color_bg_secondary;
    @include multiLineEllipsis($lineCount: 1);
    letter-spacing: 0.8px;
    margin: 3px 0 0 1px;
    @include SP {
      -webkit-line-clamp: 2;
      margin: 5px 0 0;
    }
  }
  &__btn {
    display: block;
    margin: 37px auto 0 0;
    height: 52px;
    line-height: 57px;
    @include font-size(14);
    text-align: center;
    background: #fff url(../../img/top/ico_arrow_black.svg) no-repeat;
    max-width: 186px;
    width: 100%;
    padding: 0 23px 0 0;
    background-color: #d9dfe3;
    background-position: center right 17px;
    @include min-screen(768px) {
      &:hover {
        opacity: 0.5;
      }
    }
    @include SP {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      max-width: 265px;
      line-height: 62px;
      letter-spacing: 0.8px;
      padding: 0;
      height: 58px;
      background-position: center right 12px;
    }
  }
  &__item {
    box-shadow: 0px 1px #d9dfe3;
    a {
      padding: 25px 0 26px 0;
      @include SP {
        padding: 26px 0 25px 0;
      }
    }
    @include min-screen(768px) {
      &:hover {
        background: aliceblue;
      }
    }
  }
  &__list {
    @include PC {
      max-height: 524px;
      overflow: hidden;
      height: 100%;
    }
    @include SP {
      padding: 0 25px;
    }
  }
}
/* =seo
-------------------------------------------------------------- */
.c-seo {
  position: relative;
  overflow: hidden;
  &::before {
    display: block;
    content: "";
    width: 100%;
    height: 437px;
    position: relative;
    background: url(../../img/top/bg_seo.png) center top/cover no-repeat;
    z-index: -1;
    @include SP {
      background: url(../../img/top/bg_seo_sp.png) no-repeat;
      background-size: cover;
      height: 367px;
    }
  }
  &__ttl {
    @include font-size(20);
    margin: 0 0 34px;
    letter-spacing: 2px;
    line-height: 1.7;
    @include SP {
      margin: 0 0 30px;
    }
  }
  &__area {
    padding: 65px 74px 65px 103px;
    margin: -147px auto 59px !important;
    background: #ffffff;
    &.content {
      max-width: 1100px;
    }
    @include SP {
      padding: 50px 21px 43px;
      margin: -63px auto 0 !important;
      letter-spacing: 2px;
      line-height: 1.7;
      max-width: 335px !important;
      box-sizing: border-box;
    }
  }
  &__inner {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(flex-start);
    @include SP {
      @include flex-wrap;
    }
    p {
      @include font-size(14);
      margin: 0 0 24px;
      line-height: 1.8;
      letter-spacing: -0.01px;
      @include SP {
        margin: 0 0 25px;
        letter-spacing: 0.04px;
        line-height: 1.8;
      }
      &:last-child {
        margin: 0;
      }
    }
  }
  &__left,
  &__right {
    width: 47%;
    margin: 0 6% 0 0;
    @include SP {
      margin: 0 0 25px;
      width: 100%;
    }
  }
  &__right {
    margin: 0;
  }
  &__link {
    display: block;
    padding: 10px 31px 10px 0;
    @include font-size(14);
    color: $color_bg_secondary;
    text-decoration: underline !important;
    background: url(../../img/top/ico_arrow_blue.svg) center right 2px no-repeat;
    text-align: right;
    max-width: 210px;
    width: 100%;
    margin: 34px 0 0 auto;
    position: relative;
    @include add_prefix(transition, 0.3s ease all);
    @include min-screen(768px) {
      &:hover {
        opacity: 0.5;
      }
    }
    @include SP {
      margin: 25px 0 0 auto;
      letter-spacing: 0;
      padding: 16px 39px 10px 3px;
      right: -30px;
      background: url(../../img/top/ico_arrow_blue.svg) top 17px right 8px no-repeat;
      max-width: 220px;
    }
  }
}
@media (min-width: 768px) and (max-width: 1130px) {
  .c-building__item:nth-child(2) .c-building__box {
    margin: 0 0 0 auto;
    padding: 0 20px;
  }
}
.top {
  #container {
    overflow: hidden;
  }
}
@include PC {
  .windows {
    .c-search__tbl th {
      padding: 6.5px 12px 0;
    }
  }
}
