@charset 'UTF-8';
@import "../utility/*";

/* =main topics
-------------------------------------------------------------- */
.topics,
.topics-details {
  &-inner {
    @include flexbox;
    @include align-items(flex-start);
    @include justify-content(space-between);
    @include flex-wrap;
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    @media (min-width: 768px) and (max-width: 1130px) {
      padding: 0 20px;
      .topics-area {
        width: 75%;
      }
    }
    @include SP {
      @include flex-wrap;
      .topics-area {
        order: 1;
      }
      .pagenavi {
        order: 2;
        display: block;
        width: 345px;
        margin: 0 auto;
      }
      .c-sidebar {
        order: 3;
      }
      .topics-area {
        width: 100%;
      }
    }
    @media screen and (max-width: 330px) {
      .pagenavi {
        width: auto;
      }
    }
  }
  &-area {
    max-width: 850px;
    width: 100%;
    margin: 0;
    @include SP {
      max-width: 100%;
    }
  }
  .c-article {
    &__list {
      @include SP {
        margin: 35px 0;
      }
    }
    &__item {
      margin: 0 0 30px 4px;
      padding: 0 0 30.2px 0;
      border-bottom: 1px solid #d8dee8;
      box-sizing: border-box;
      a {
        @include flexbox;
        @include align-items(flex-start);
        @include justify-content(space-between);
      }
      @include SP {
        margin: 0 26px 0;
        padding: 23px 0 19px;
        &:first-child {
          padding-top: 0;
        }
      }
    }
    &__img {
      width: 160px;
      height: 160px;
      overflow: hidden;
      margin: 0;
      background-color: #ccc;
      background-size: cover;
      background-position: top center;
      @include aspect-ratio(160, 160);
      img {
        width: 100%;
        height: auto;
      }
      @include SP {
        width: 80px;
        height: 80px;
      }
    }
    &__info {
      // max-width: 657px;
      max-width: calc(100% - 190px);
      width: 100%;
      margin: 7px 0 0 25px;
      @include SP {
        max-width: calc(100% - 100px);
        margin: 0;
      }
    }
    &__time {
      margin: 0 0 10px;
      @include SP {
        margin: 0 0 3px;
      }
      span {
        display: inline-block;
        @include font-size(13);
        @include ffNS;
        letter-spacing: 1px;
        color: #839095;
        padding-right: 10px;
        @include SP {
          @include font-size(13);
          letter-spacing: 0;
          &.noti {
            padding-right: 0;
            @include font-size(10);
            letter-spacing: 0.3px;
            width: 62px;
            padding: 0;
            margin: 0;
            height: 22px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      p {
        display: inline-block;
        padding: 3px 6px 3px;
        background: $color_blue1;
        @include font-size(11);
        letter-spacing: 1px;
        font-weight: bold;
        color: #fff;
      }
    }
    &__ttl {
      @include font-size(18);
      color: $color_bg_secondary;
      line-height: 30px;
      margin: 0 0 10px 2px;
      letter-spacing: 0.9px;
      @include multiLineEllipsis($lineCount: 2);
      @include SP {
        @include font-size(16);
        letter-spacing: 0.6px;
        margin-left: 0;
        line-height: 1.5;
      }
    }
    &__txt {
      @include font-size(13);
      line-height: 24px;
      @include multiLineEllipsis($lineCount: 2);
      margin: 0 0 0 2px;
      max-height: 50px;
      @include SP {
        display: none;
      }
      img {
        display: none;
      }
    }
  }
  .pagenavi {
    margin: 0 auto;
    .wp-pagenavi {
      padding: 65px 0 121px;
      clear: both;
      text-align: center;
      position: relative;
      @include SP {
        padding: 17px 0 70px;
      }
      a,
      span.current {
        width: 36px;
        font-weight: 600 !important;
        margin: 0 2px !important;
      }
      span,
      a {
        @include font-size(16);
        width: 36px;
        height: 36px;
        line-height: 36px;
        display: inline-block;
        margin: 0 2px;
        color: #222222;
        background-color: #fff;
        border: 1px solid #9aa1ad;
        text-align: center;
        padding: 0;
        vertical-align: top;
        border-radius: 0;
        @include SP {
          width: 35px;
          height: 35px;
          margin: 0 auto;
        }
        @media screen and (max-width: 330px) {
          width: 30px;
          height: 30px;
        }
      }
    }
    span.current {
      background-color: #222222;
      color: #fff;
      border-color: #222222;
    }
    a.nextpostslink {
      background: #edeff5 url(../../img/common/icon/paging_next.svg) center center no-repeat;
      font-size: 0;
    }
    a.previouspostslink {
      background: #edeff5 url(../../img/common/icon/paging_prev.svg) center center no-repeat;
      font-size: 0;
    }
  }
  .c-sidebar {
    width: 175px;
    float: left;
    padding: 4px 0 40px;
    @include SP {
      width: 100%;
      background: #edeff5;
    }
    &__category {
      margin-bottom: 40px;
      @include clearfix;
      @include SP {
        position: relative;
        padding: 34px 0 60px;
        margin: 0 0 29px;
        z-index: 9;
      }
    }
    &__article {
      @include clearfix;
      .c-sidebar_list a {
        background: url(../../img/topics/ico_arrow_clone.svg) left 0px top 12px no-repeat;
        padding-left: 22px;
      }

      @include SP {
        position: relative;
        padding: 0 0 70px;
        margin: 0 0 0;
      }
    }
    &__heading {
      @include font-size(20);
      font-weight: 800;
      @include ffNS;
      letter-spacing: 1px;
      border-bottom: 1px solid #d8dee8;
      padding: 0 0 10px 37px;
      @include PC {
        margin: 0 0 10px 10px;
        padding: 0 0 12px 0;
      }
      @include SP {
        @include font-size(22);
        border: none;
        margin: 0;
      }
    }
    &__list {
      @include clearfix;
      @include SP {
        border: 1px solid #9aa1ad;
        box-sizing: border-box;
        max-width: 300px;
        width: 100%;
        background-image: url(../../img/topics/ico_select.svg);
        background-position: right 19px top 22px;
        background-repeat: no-repeat;
        background-color: #ffffff;
        margin: 0 auto;
        // height: 60px;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
      }
      li {
        padding: 3px 0 0 38px;
        margin: 0 0 2px;
        @include font-size(14);
        transition: 0.3s;
        @include PC {
          padding: 6px 0 0 10px;
          &:hover {
            opacity: 0.5;
          }
        }
        @include SP {
          padding: 0;
          float: left;
          width: 100%;
          height: 100%;
          @include add_prefix(transition, 0.3s ease all);
          display: none;
          &:first-of-type {
            padding: 17px 20px 14px 22px;
            a {
              padding: 0;
            }
          }
          &.is-select,
          &.is-select1 {
            display: inline;
          }
        }
        &.selected {
          &:not(.is-select) {
            background-color: #ffffff;
          }
        }
        &.selected1 {
          &:not(.is-select1) {
            background-color: #ffffff;
          }
        }
      }
      a {
        display: inline-block;
        @include font-size(14);
        padding-left: 20px;
        background: url(../../img/topics/ico_arrow_clone.svg) left 1px top 9px no-repeat;
        letter-spacing: -0.1px;
        background-size: 12px 3px;
        color: #000;
        @include PC {
          &::before {
            opacity: 0.5;
          }
        }
        @include SP {
          background: none !important;
          letter-spacing: 0;
          padding: 17px 20px 14px 22px;
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      &.is-after {
        a {
          position: relative;
          padding-right: 20px;
          &:after {
            content: "年";
            position: absolute;
            top: 0;
            right: 0;
          }
          &::before {
            content: "";
            position: absolute;
            display: block;
            width: 200%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }
        }
      }
      // .sub {
      //   display: none;
      // }
    }
  }
  .detail {
    &-inner {
      padding: 0 0 42px;
      border-bottom: 1px solid #d8dee8;
      @include SP {
        padding: 0 0 11px;
      }
    }
    &-cate {
      letter-spacing: 0.6px;
      margin-bottom: 20px;
      @include SP {
        margin-bottom: 9px;
        padding: 0 20px;
      }
      span {
        color: #839095;
        display: inline-block;
        @include ffNS;
        @include font-size(15);
        margin: 6px 15px 0 0;
        @include SP {
          margin-right: 12px;
        }
      }
      p {
        display: inline-block;
        @include font-size(13);
        color: #fff;
        font-weight: bold;
        background: $color_blue1;
        margin-right: 15px;
        padding: 6px 12px 4px 14px;
        letter-spacing: 1.4px;
        @include SP {
          padding: 6px 6px 5px 10px;
          letter-spacing: 1.4px;
          line-height: 1.6;
          display: inline;
        }
      }
    }
    &-ttl {
      font-weight: bold;
      color: #222222;
      line-height: 38px;
      margin: 0 0 30px;
      @include font-size(22);
      letter-spacing: 0.6px;
      @include SP {
        @include font-size(20);
        letter-spacing: 0.05px;
        line-height: 1.7;
        margin: 0 0 24px;
        padding: 0 20px;
      }
    }
    img {
      position: relative;
      @include SP {
        margin: 0 !important;
        &.center {
          padding: 0 20px;
          background: transparent;
        }
      }
    }
    &-cont {
      @include font-size(15);
      line-height: 1.9;
      margin: 0 0 42px;
      @include SP {
        padding: 0 20px;
        margin: 0 0 22px;
      }
    }
    &-image {
      overflow: hidden;
      background-color: #ccc;
      background-size: cover;
      background-position: center center;
      background-image: url("../../img/top/img_dummy_bg.png");
      @include aspect-ratio(820, 535);
      margin: 0 0 44px 0;
      @include SP {
        @include aspect-ratio(375, 244);
        margin: 0 0 24px 0;
      }
    }
  }
  .noti {
    display: inline-block;
    @include font-size(11);
    color: #fff !important;
    font-weight: bold;
    background: $color_blue1;
    padding: 5px 10px 3px 13px;
    position: relative;
  }
  .pageview {
    padding: 58px 0 20px;
    margin-bottom: 105px;
    overflow: hidden;
    @include SP {
      padding: 47px 0 18px;
      margin-bottom: 87px;
    }
    @media screen and (max-width: 330px) {
      padding: 47px 20px 20px;
    }
    &-list {
      max-width: 820px;
      margin: 0 auto;
      overflow: hidden;
      @include flexbox;
      @include SP {
        padding: 0 18px;
        box-sizing: border-box;
      }
      @media screen and (max-width: 330px) {
        padding: 0;
      }
    }
    &-item {
      width: calc(50% - 64px);
      min-height: 1px;
      margin: 0;
      padding: 20px 0;
      @media screen and (max-width: 330px) {
        width: calc(50% - 40px);
      }
      &.left {
        float: left;
        padding-right: 50px;
        @include SP {
          padding: 0;
        }
      }
      &.mid {
        text-align: center;
        width: 128px;
        border-left: 1px dotted #9aa1ad;
        border-right: 1px dotted #9aa1ad;
        position: relative;
        @include flexbox;
        align-items: center;
        justify-content: center;
        @include SP {
          width: 84px;
          margin: 0 auto;
        }
        @media screen and (max-width: 330px) {
          width: 50px;
        }
        a {
          width: 100%;
        }
        span {
          width: 100%;
          position: absolute;
          top: 50%;
          left: 0;
          color: #000;
          display: inline-block;
          font-size: 15px;
          font-size: 1.5rem;
          font-weight: bold;
          padding-top: 28px;
          background: url(../../img/topics/ico_pageing.svg) center top no-repeat;
          background-size: 20px 20px;
          transform: translateY(-50%);
          margin: 17px 0 0;
          @include SP {
            background: url(../../img/topics/ico_pageing.svg) center top 3px no-repeat;
            background-size: 20px 20px;
            margin: 0 auto;
          }
        }
      }
      &.right {
        padding-left: 50px;
        @include SP {
          padding: 0;
        }
      }
      a {
        display: block;
        position: relative;
      }
    }
    &-info {
      max-width: calc(100% - 80px);
      float: left;
      padding-left: 14px;
      @include SP {
        max-width: 100%;
        padding: 0;
        margin: 8px 0 0 2px;
      }
    }
    &-cate {
      clear: both;
      margin-bottom: 5px;
      @include PC {
        display: table;
        align-items: center;
        justify-content: flex-start;
      }
      @include SP {
        @include clearfix();
      }
      span {
        display: inline-block;
        color: #839095;
        @include font-size(13);
        @include ffNS;
        padding-right: 5px;
        margin: 0 5px 0 0;
        @include SP {
          letter-spacing: 0.2px;
          margin: 0 0 3px;
        }
        &.noti {
          @include font-size(11);
          min-width: 60px;
          width: auto;
          text-align: center;
          padding: 0 5px;
          height: 22px;
          line-height: 2;
          @include PC {
            position: relative;
            top: -3px;
          }
          @include SP {
            display: block;
            width: 80px;
          }
        }
      }
      small {
        display: inline-block;
        @include font-size(11);
        color: #fff;
        font-weight: bold;
        background: $color_blue1;
        padding: 3px 8px 2px 7px;
        position: relative;
        top: -2px;
      }
    }
    &-ttl {
      @include font-size(14);
      overflow: hidden;
      width: 100%;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -o-text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
      white-space: normal;
      letter-spacing: 0.7px;
      @include SP {
        -webkit-line-clamp: 4;
        letter-spacing: 0.3px;
        line-height: 1.7;
      }
    }
    &-img {
      width: 80px;
      height: 80px;
      overflow: hidden;
      background-color: #ccc;
      background-size: cover;
      background-position: top center;
      @include aspect-ratio(80, 80);
      @include SP {
        width: 100px;
        height: 100px;
        margin: 0 auto;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    &-box {
      @include flexbox;
      @include align-items(flex-start);
      @include SP {
        display: block;
      }
    }
    .previouspostslink,
    .nextpostslink {
      display: block;
      width: auto;
      background: none;
      color: #222222;
      @include font-size(18);
      line-height: 18px;
      font-weight: 800;
      @include ffNS;
      height: auto;
      margin: 0 0 15px;
      position: relative;
      @include SP {
        margin: 0 0 11px;
      }
    }
    .previouspostslink {
      text-align: right;
      span {
        display: inline-block;
        padding-left: 40px;
        background: url(../../img/common/icon/paging_prev.svg) left 3px top -2px no-repeat;
        background-size: 15px 20px;
        letter-spacing: 1px;
        @include SP {
          padding: 0 3px 0 36px;
          background-size: 15px 21px;
        }
        @media (max-width: 374px) {
          padding: 0 0 0 36px;
        }
      }
    }
    .nextpostslink {
      text-align: left;
      span {
        display: inline-block;
        padding-right: 40px;
        background: url(../../img/common/icon/paging_next.svg) right 3px top -2px no-repeat;
        background-size: 20px 20px;
        letter-spacing: 1px;
        @include SP {
          padding: 0 30px 0 3px;
          background-size: 15px 21px;
        }
        @media (max-width: 374px) {
          padding: 0 30px 0 0;
        }
      }
    }
  }
}
/* =main topics details
-------------------------------------------------------------- */
.topics-details {
  .breadcrumb {
    @media (min-width: 768px) and (max-width: 1130px) {
      ul {
        margin: 0;
        padding: 0 20px;
      }
    }
    @include SP {
      margin: 5px 0 6px;
    }
    ul {
      margin: 0 0 0 auto;
      padding: 0 44px 0 0;
      @include SP {
        padding: 0;
        text-align: left;
        li {
          padding-right: 9px;
        }
      }
    }
  }
  .c-article {
    max-width: 820px;
    width: 100%;
    margin: 0 auto;
  }
  .visual {
    margin-bottom: 70px;
    @include SP {
      margin: 0 0 22px;
    }
  }
}
/* 
-------------------------------------------------------------- */
@include PC {
  .windows {
    .c-works__text,
    .c-interview__text {
      max-height: 50px;
    }
    .topics .pageview .previouspostslink span,
    .topics-details .pageview .previouspostslink span {
      background-size: 15px 15px;
      background: url(../../img/common/icon/paging_prev.svg) left 5px top 2px no-repeat;
    }
    .topics .pageview .nextpostslink span,
    .topics-details .pageview .nextpostslink span {
      background-size: 15px 15px;
      background: url(../../img/common/icon/paging_prev.svg) right 5px top 2px no-repeat;
    }
    .pageview-ttl {
      max-height: 44px;
    }
  }
  .detail-cate {
    display: table;
  }
  .cat {
    display: table-cell !important;
    padding: 3px 10px 3px 13px !important;
    line-height: 1.8 !important;
  }
}
/* =
-------------------------------------------------------------- */
