@charset 'UTF-8';
// animation top | mainvisual
@keyframes scroll-down {
  0% {
    opacity: 0;
    bottom: 59px;
  }

  40% {
    opacity: 1;
    bottom: 59px;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    bottom: 0;
  }
}
@keyframes scroll-down--sp {
  0% {
    opacity: 0;
    bottom: 40px;
  }

  40% {
    opacity: 1;
    bottom: 40px;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    bottom: 0;
  }
}
@keyframes cssAnimation {
  from {
    -webkit-transform: scale(1) translate(0px);
  }
  to {
    -webkit-transform: scale(1.3) translate(0px);
  }
}
