@charset 'UTF-8';

/* =breadcrumb
-------------------------------------------------------------- */
.breadcrumb {
  background: #fff;
  margin: 3px 0 6px;
  @include clearfix();
  @media (min-width: 767px) and (max-width: 1024px) {
    padding: 0 20px;
  }
  @include SP {
    padding: 0 20px;
    box-sizing: border-box;
  }
  .content {
    max-width: 1165px;
  }
  ul {
    line-height: 18px;
    width: 100%;
    text-align: right;
    margin: 0 34px 0 auto;
    @include SP {
      line-height: 18px;
      width: 100%;
      text-align: right;
      margin: 4px 19px 5px auto;
      letter-spacing: 1px;
      overflow: hidden;
      width: 100%;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -o-text-overflow: ellipsis;
      -webkit-line-clamp: 1;
      text-overflow: ellipsis;
      white-space: normal;
    }
    li {
      @include font-size(10);
      line-height: 16px;
      color: #888888;
      display: inline;
      padding-right: 14px;
      margin-right: 0;
      position: relative;
      &::after {
        display: block;
        content: ">";
        @include font-size(10);
        position: absolute;
        right: 0px;
        top: 50%;
        margin-top: -8px;
        color: #011f5a;
        @include SP {
          margin-top: -9px;
        }
      }
      &:first-child {
        a {
          img {
            position: relative;
            top: -2px;
            left: 1px;
          }
        }
      }
      &:last-child {
        margin-right: 0;
        padding-right: 0;
        &::after {
          display: none;
        }
      }
      @include SP {
        padding-right: 18px;
      }
    }
    a {
      text-decoration: none;
      color: inherit;
      display: inline-block;
    }
    span {
      @include font-size(10);
      letter-spacing: 0px;
    }
  }
}
/* =main visual
-------------------------------------------------------------- */
.visual {
  background: #edeff5;
  padding: 38px 0 37px;
  margin-bottom: 84px;
  @media (min-width: 767px) and (max-width: 1024px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @include SP {
    background: #edeff5;
    padding: 20px 0 25px;
    margin-bottom: 0;
  }
  @media (max-width: 374px) {
    padding-right: 20px;
    h1 {
      padding-left: 20px;
    }
  }
  .content {
    max-width: 1110px;
  }
  span {
    display: inline-block;
    color: #222222;
    @include font-size(45);
    line-height: 45px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 800;
    letter-spacing: 2.2px;
    padding: 0 10px 0 3px;
    @include SP {
      @include font-size(32);
      padding: 0 3px 0 19px;
      letter-spacing: 1.6px;
    }
  }
  h1 {
    display: inline-block;
    @include font-size(16);
    position: relative;
    top: 2px;
    letter-spacing: 1px;
    @include SP {
      top: 0;
      letter-spacing: 0;
    }
  }
}
