@charset 'UTF-8';

.tab {
  @include min-screen(1024px) {
    display: none;
  }
  @include max-screen(767px) {
    display: none;
  }
}
.taC {
  text-align: center;
}
#footer {
  overflow: hidden;
  @media screen and (max-width: 1130px) {
    box-sizing: border-box;
    #footer .footerInner *[class^="col"].col1 {
      width: 75%;
    }
  }
  @include max-screen(767px) {
    padding: 0;
  }
  .footerContact {
    text-align: center;
    margin: 0 auto 60px;
    position: relative;
    @include max-screen(767px) {
      margin: 0 auto 39px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .footerContent {
    position: absolute;
    top: 44.6%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    @media (min-width: 800px) and (max-width: 1130px) {
      top: 18% !important;
      transform: translateY(0%) !important;
    }
    @media (min-width: 768px) and (max-width: 800px) {
      top: 2% !important;
      transform: translateY(0%) !important;
    }
    .title {
      font-size: 18px;
      text-align: center;
      margin: 0 auto;
      font-weight: bold;
      letter-spacing: 2px;
      @include PC {
        position: relative;
        top: 1px;
      }
      span {
        font-size: 30px;
        display: block;
        margin: 12px auto 0;
        letter-spacing: 7.5px;
        position: relative;
        left: 3px;
        @media (min-width: 768px) and (max-width: 1130px) {
          font-size: 20px;
        }
      }
      // @media screen and (max-width: 1130px) {
      //   font-size: 20px;
      // }
      @include max-screen(767px) {
        color: #ffffff;
        margin: 35px auto 18px;
        letter-spacing: 2.2px;
        span {
          margin: 11px 0 0;
          left: auto;
          letter-spacing: 3px;
        }
      }
    }
    .subtitle {
      text-align: center;
      font-size: 18px;
      line-height: 1.9;
      top: 14px;
      position: relative;
      letter-spacing: 1px;
      @media (min-width: 768px) and (max-width: 1130px) {
        font-size: 14px !important;
      }
      @include max-screen(767px) {
        color: #ffffff;
        font-size: 15px;
        position: relative;
        top: 0px;
        line-height: 2;
        letter-spacing: 0;
      }
      @media screen and (max-width: 1130px) {
        font-size: 13px !important;
        letter-spacing: 1.8px;
      }
    }
    @include max-screen(767px) {
      top: 50%;
    }
    @include max-screen(364px) {
      top: 20%;
      transform: translateY(-20%);
    }
  }
  .footerFlex {
    max-width: 790px;
    width: 100%;
    margin: 45px auto;
    position: relative;
    top: 41px;
    padding: 0 2px 0 0px;
    @media (min-width: 768px) and (max-width: 1130px) {
      top: 0;
    }
    @include max-screen(767px) {
      margin: 80px auto;
      box-sizing: border-box;
      padding: 0 15px;
      position: relative;
      top: -3px;
    }
    @include max-screen(364px) {
      margin: 50px auto;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include max-screen(767px) {
        display: block;
      }
    }
    .left {
      border: 1px solid $color_blue1;
      box-sizing: border-box;
      height: 115px;
      max-width: 320px;
      width: 100%;
      margin: 0 auto;
      position: relative;
      background: #ffffff;
      @include add_prefix(transition, 0.2s ease all);
      @include PC {
        top: -1px;
        &:hover {
          opacity: 0.8;
        }
      }
      @include SP {
        margin: 0 auto 73px;
      }
      .infor {
        color: $color_blue1;
        font-size: 24px;
        font-weight: bold;
        margin: 42px auto 0;
        @include ffNS;
        @include PC {
          letter-spacing: 1.5px;
          padding: 0 0 0 3px;
        }
        @include SP {
          letter-spacing: 1.5px;
        }
        span {
          display: block;
          font-size: 12px;
          color: #0e398e;
          position: relative;
          top: -3px;
          @include PC {
            letter-spacing: 0.4px;
            left: 0px;
          }
          @include SP {
            position: relative;
            left: 1px;
            top: -4px;
            letter-spacing: 0.5px;
          }
        }
      }
      a {
        text-decoration: none;
        opacity: 1;
      }
    }
    .right {
      border: 1px solid $color_blue2;
      box-sizing: border-box;
      height: 118px;
      max-width: 320px;
      width: 100%;
      margin: 0 auto;
      position: relative;
      @include add_prefix(transition, 0.2s ease all);
      background: #ffffff;
      @include min-screen(768px) {
        height: 116px;
        &:hover {
          opacity: 0.8;
        }
      }
      a {
        text-decoration: none;
        opacity: 1;
      }
      .text {
        color: $color_blue2;
        font-size: 18px;
        font-weight: bold;
        margin: 53px auto 0;
        position: relative;
        letter-spacing: 0;
        left: -3px;
        @include max-screen(767px) {
          margin: 56px auto 0;
        }
        &:after {
          content: "";
          position: absolute;
          right: 22px;
          top: 12px;
          width: 13px;
          height: 3px;
          background-size: contain;
          background-image: url(../img/top/ico_arrow_clone.svg);
          background-repeat: no-repeat;
          @include add_prefix(transition, 0.2s ease all);
          @include max-screen(767px) {
            right: 26px;
            top: 11px;
          }
        }
      }
    }
    .phone {
      background-color: #011f5a;
      color: #ffffff;
      text-align: center;
      font-size: 16px;
      max-width: 257px;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: -30px;
      padding: 15px 15px 15px 45px;
      box-sizing: border-box;
      letter-spacing: 1px;
      &:before {
        content: "";
        position: absolute;
        left: 38px;
        top: 13px;
        width: 16px;
        height: 28px;
        background-size: contain;
        background-image: url(../img/common/icon/ico_tel.svg);
        @include max-screen(767px) {
          left: 39px;
          width: 16px;
          height: 27px;
          background-size: cover;
        }
      }
      &:after {
        content: "";
        position: absolute;
        width: 0px;
        height: 0px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 13px solid $color_blue1;
        bottom: -12px;
        left: 0;
        right: 0;
        margin: auto;
        @include max-screen(767px) {
          bottom: -10px;
          left: -2px;
        }
      }
      @include max-screen(767px) {
        padding: 17px 15px 13px 46px;
        letter-spacing: 1px;
      }
    }
    .mail {
      background-color: $color_blue2;
      color: #ffffff;
      text-align: center;
      font-size: 16px;
      max-width: 257px;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: -30px;
      padding: 16px 15px 15px 46px;
      box-sizing: border-box;
      letter-spacing: 0.6px;
      @include max-screen(767px) {
        padding: 17px 15px 15px 46px;
        box-sizing: border-box;
        letter-spacing: 1px;
      }
      &:before {
        content: "";
        position: absolute;
        left: 27px;
        top: 20px;
        width: 22px;
        height: 17px;
        background-size: contain;
        background-image: url(../img/common/icon/ico_mail.svg);
        @include max-screen(767px) {
          left: 27px;
          top: 20px;
          width: 22px;
        }
      }
      &:after {
        content: "";
        position: absolute;
        width: 0px;
        height: 0px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 13px solid $color_blue2;
        bottom: -12px;
        left: 0;
        right: 0;
        margin: auto;
        @include max-screen(767px) {
          bottom: -10px;
          left: -2px;
        }
      }
    }
    .infor {
      color: #011f5a;
      font-size: 24px;
      span {
        display: block;
        font-size: 12px;
      }
    }
  }
  .footerLogo {
    text-align: center;
    color: #000000;
    @include max-screen(767px) {
      margin: 0 auto 27px !important;
    }
  }
  .footerInner {
    margin: 0 auto;
    max-width: 768px;
    padding: 65px 0 55px;
    @media (min-width: 768px) and (max-width: 1130px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    @include max-screen(767px) {
      padding: 0 11px;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
    }
    *[class^="col"] {
      float: left;
      font-size: 12px;
      letter-spacing: 2px;
      li {
        margin-bottom: 12px;
        @include max-screen(767px) {
          margin-bottom: 0;
        }
        a {
          color: #000000;
          font-size: 14px;
          letter-spacing: 0;
          @include max-screen(767px) {
            display: block;
            padding: 9px 9px 3px;
            position: relative;
            letter-spacing: 0;
          }
          @media (max-width: 374px) {
            font-size: 11px;
          }
        }
        ul {
          padding: 15px 0 0 13px;
          @include max-screen(767px) {
            padding: 0;
            text-align: left;
          }
        }
      }
      .text1 {
        margin-bottom: 12px;
        a {
          display: block;
          font-size: 13px;
          font-weight: bold;
          color: #000000;
          text-align: center;
          background: #efefef;
          border: 1px solid #dbdbdb;
          padding: 16px 10px 16px 28px;
          width: 168px;
          height: 54px;
          position: relative;
          letter-spacing: 0;
          &:before {
            content: "";
            position: absolute;
            left: 19px;
            top: 13px;
            width: 25px;
            height: 25px;
            background-size: contain;
            background-image: url(../img/common/icon/ico_facebook.svg);
          }
          &:after {
            content: "";
            position: absolute;
            right: 19px;
            top: 11px;
            width: 10px;
            height: 9px;
            background-size: contain;
            background-image: url(../img/common/icon/ico_blank.svg);
          }
          @include min-screen(768px) {
            &:hover {
              opacity: 0.5;
            }
          }
          @include max-screen(767px) {
            font-size: 11px;
            padding: 16px 10px 16px 25px;
            letter-spacing: 1.2px;
            height: 53px;
            &::before {
              left: 20px;
              top: 12px;
            }
            &::after {
              right: 19px;
              top: 10px;
            }
          }
        }

        @media (max-width: 374px) {
          a {
            height: 54px;
            font-size: 11px;
            &::before {
              top: 12px;
            }
          }
        }
      }
      .text2 {
        margin-bottom: 10px;
        a {
          display: block;
          font-size: 13px;
          font-weight: bold;
          color: #000000;
          text-align: center;
          background: #efefef;
          border: 1px solid #dbdbdb;
          padding: 17px 10px 16px 32px;
          width: 168px;
          height: 54px;
          position: relative;
          letter-spacing: 0;
          &:before {
            content: "";
            position: absolute;
            left: 20px;
            top: 13px;
            width: 25px;
            height: 25px;
            background-size: contain;
            background-image: url(../img/common/icon/ico_instagram.svg);
          }
          &:after {
            content: "";
            position: absolute;
            right: 19px;
            top: 11px;
            width: 10px;
            height: 9px;
            background-size: contain;
            background-image: url(../img/common/icon/ico_blank.svg);
          }
          @include min-screen(768px) {
            &:hover {
              opacity: 0.5;
            }
          }
          @include max-screen(767px) {
            font-size: 11px;
            padding: 16px 10px 16px 30px;
            letter-spacing: 1.2px;
            height: 53px;
            &::before {
              left: 20px;
              top: 12px;
            }
            &::after {
              right: 19px;
              top: 10px;
            }
          }
        }
        @include max-screen(767px) {
          margin-bottom: 0;
        }

        @media (max-width: 374px) {
          a {
            height: 54px;
            font-size: 11px;
            &::before {
              top: 12px;
            }
          }
        }
      }
      > ul {
        padding: 15px 0 0 13px;
        text-align: right;
        @include max-screen(767px) {
          padding: 0;
        }
        li {
          display: inline-block;
          vertical-align: middle;
          color: #b3b3b3;
          @include max-screen(767px) {
            display: block;
          }
          a {
            font-size: 10px;
            letter-spacing: 2px;
            @include max-screen(767px) {
              font-size: 14px;
            }
          }
        }
      }
      @include PC {
        &.col1 {
          width: 78%;
        }
      }
      @media (min-width: 768px) and (max-width: 1130px) {
        &.col1 {
          width: 70% !important;
        }
      }
      @include min-screen(768px) {
        &.col1 {
          display: flex;
          flex-wrap: wrap;
          li {
            width: 32%;
            &:nth-child(2) {
              padding: 0 0 0 5px;
            }
            &:nth-child(5) {
              padding: 0 0 0 5px;
            }
            &:nth-child(8) {
              padding: 0 0 0 5px;
            }
            &:nth-child(11) {
              padding: 0 0 0 5px;
            }
          }
        }
      }
      @include max-screen(767px) {
        float: none;
        margin-right: 0;
        font-size: 14px;
        &.col1 {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
        }
        &.col2 {
          width: 100%;
          display: flex;
          justify-content: center;
          margin: 30px 0 0;
          .text1,
          .text2 {
            max-width: 160px;
            width: 100%;
            a {
              max-width: 160px;
              width: 100%;
            }
          }
          .text1 {
            margin: 0 15px 0 0;
          }
        }
        li {
          width: 50%;
          &:nth-child(10) {
            display: none;
          }
          &:nth-child(1) {
            order: 0;
          }
          &:nth-child(10) {
            order: 1;
          }
          &:nth-child(4) {
            order: 2;
          }
          &:nth-child(3) {
            order: 3;
          }
          &:nth-child(6) {
            order: 5;
          }
          &:nth-child(9) {
            order: 6;
          }
          &:nth-child(5) {
            order: 7;
          }
          &:nth-child(12) {
            order: 8;
          }
          &:nth-child(7) {
            order: 4;
          }
          &:nth-child(8) {
            order: 10;
          }
          &:nth-child(2) {
            order: 6;
          }
        }
      }
    }
  }
  .copyright {
    clear: both;
    font-size: 11px;
    color: #000000;
    text-align: center;
    padding: 16px 0 50px;
    position: relative;
    @include max-screen(767px) {
      padding: 39px 0 30px;
    }
    span {
      display: inline-block;
      background: #fff;
      padding: 0 30px;
    }
  }
}
@include PC {
  .ie {
    #footer .footerFlex .mail::before {
      width: 21px;
      height: 16px;
    }
    #footer .footerInner *[class^="col"] .text1 a::before {
      height: 26px;
    }
  }
}

#contact {
  #footer {
    .footerContact,
    .footerLogo,
    .footerInner {
      display: none;
    }
  }
}
