@charset 'UTF-8';

.calling {
  span {
    display: inline-block;
    vertical-align: middle;
  }
  .tel {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 64px 26px 17px;
    position: relative;
    font-family: Arial, sans-serif;
    background: $color_blue1;
    color: $color_white;
    text-align: center;
    display: block;
    &:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 25%;
      transform: translate(-50%, -25%);
      width: 23px;
      height: 39px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(../img/common/icon/ico_tel.svg);
    }
  }
  @include add_prefix(transition, 0.2s ease all);
  @include PC {
    cursor: pointer;
    .phoneBox {
      width: 323px;
      height: 150px;
      text-align: center;
      border: 3px solid #011f5a;
      box-sizing: border-box;
      background: #fff;
      position: absolute;
      right: -90px;
      top: 115px;
      opacity: 1 !important;
      display: none;
      @include add_prefix(transition, 0.2s ease all);
      &__icon {
        background: #011f5a;
        line-height: normal;
        padding: 15px 0 13px;
        img {
          margin-right: 10px;
          position: relative;
          top: -2px;
        }
        span {
          display: inline-block !important;
          @include font-size(15);
          color: #fff;
          font-weight: bold;
          line-height: 22px;
          padding-top: 10px;
        }
      }
      &__num {
        line-height: normal;
        padding-top: 15px;
        @include font-size(28);
        line-height: 28px;
        font-weight: bold;
        @include ffNS;
        color: #011f5a;
        span {
          @include font-size(14);
          color: #011f5a;
          padding-top: 0 !important;
          line-height: 22px;
          display: block;
        }
      }
    }
    &:hover {
      a {
        opacity: 1;
      }
      .phoneBox {
        display: block;
      }
    }
  }
  @include SP {
    .phoneBox {
      display: none;
    }
  }
  @include max-screen(1024px) {
    .make,
    .time {
      display: block;
    }
    .tel {
      padding: 40px 10px 4px;
      font-size: 8px;
      display: block;
      &::before {
        width: 14px;
        height: 23px;
      }
    }
  }
}
.mailing {
  a {
    display: block;
    // opacity: 1;
  }
  span {
    display: inline-block;
    vertical-align: middle;
  }
  .note {
    font-size: 13px;
    letter-spacing: 1px;
    padding: 57px 5px 10px 9px;
    position: relative;
    font-weight: bold;
    font-family: Arial, sans-serif;
    background: $color_blue2;
    color: $color_white;
    text-align: center;
    line-height: 1.5;
    box-sizing: border-box;
    &:before {
      content: "";
      position: absolute;
      left: 49%;
      top: 36%;
      transform: translate(-50%, -30%);
      width: 33px;
      height: 26px;
      margin-top: -10px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(../img/common/icon/ico_mail.svg);
    }
  }
  @include max-screen(1024px) {
    .make,
    .time {
      display: block;
    }
    .note {
      padding: 30px 5px 3px;
      font-size: 8px;
      &::before {
        width: 25px;
        height: 18px;
        top: 40%;
        left: 50%;
      }
    }
  }
}

.header {
  position: fixed;
  left: auto;
  top: 0;
  z-index: 1000;
  width: 100%;
  background: #fff;
  @include add_prefix(box-shadow, 0px 0px 5px 1px rgba(0, 0, 0, 0.1));
  @include add_prefix(transition, 0.2s ease all);
  .inHeader {
    // max-width: $widthcm;
    margin: 0 auto;
    position: relative;
    z-index: 2000;
    background: #fff;
    display: flex;
    justify-content: space-between;
  }
  #logo {
    position: absolute;
    left: 44px;
    top: 29px;
    z-index: 1000;
    width: 267px;
    @include add_prefix(transition, 0.3s ease all);
  }
  @include max-screen(1024px) {
    height: 56px;
    padding: 0 13px;
    position: fixed;
    #logo {
      top: 15px;
      left: 0;
      width: 165px;
    }
  }
  @media (max-width: 374px) {
    #logo {
      width: 120px;
    }
  }
}

.fixHeader {
  padding-top: 130px;
  @include add_prefix(transition, 0.2s ease all);
  @include max-screen(1024px) {
    padding-top: 50px;
  }
  .header {
    position: fixed;
    left: 0;
    top: 0;
  }
}

.inLayer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.layerMenu {
  text-align: right;
  position: relative;
  width: calc(100% - 325px);
  margin: 0 0 0 auto;
  .hNavi {
    order: 2;
    margin: 0 0 0 49px;
    box-sizing: border-box;
    ul {
      max-width: $widthcm;
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
      background: $color_blue2;
      li {
        display: inline-block;
        vertical-align: middle;
        width: 103px;
      }
    }
    @include max-screen(1024px) {
      position: fixed;
      right: 55px;
      top: 0;
      text-align: center;
      background: #004cc6;
      ul {
        // background: transparent;
        height: 56px;
        overflow: hidden;

        li {
          width: 69px;
          &.calling {
            width: 56px;
          }
        }
      }
    }
  }
  .gNavi {
    order: 1;
    width: calc(100% - 213px);
    > li {
      display: inline-block;
      vertical-align: top;
      width: auto;
      margin-left: 3.92%; //s3.85%;
      font-weight: bold;
      letter-spacing: 0.5px;
      position: relative;
      font-size: 15px;
      &:first-child {
        margin: 0;
        @include max-screen(1024px) {
          width: 100%;
          p.gLabel {
            font-size: 14px;
            letter-spacing: 0;
            margin: 0 0 14px;
          }
          .gList {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin: 0 0 30px;
            p {
              max-width: 100px;
              width: 100%;
              height: 115px;
              margin: 0 5px 0 0;
              &:last-child {
                margin-right: 0;
              }
              &:first-child {
                a {
                  background: url(../img/top/ico_house02.svg) center top 20px no-repeat;
                  background-size: 40px 32px;
                  padding: 54px 0 0;
                }
              }
              &:nth-child(2) {
                a {
                  background: url(../img/top/ico_house04.svg) center top 10px no-repeat;
                  background-size: 70px 50px;
                  padding: 54px 0 0;
                }
              }
              &:nth-child(3) {
                a {
                  background: url(../img/top/ico_house03.svg) center top 18px no-repeat;
                  background-size: 42px 35px;
                  padding: 54px 0 0;
                }
              }
              a {
                text-decoration: none;
                background: #edeff5;
                border: 1px solid #d9e0dd;
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }

      @include max-screen(1024px) {
        &:nth-child(2) {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          p {
            width: calc(100% / 3);
            font-size: 15px;
            letter-spacing: 0;
            margin: 0 0 13px;
            float: left;
            &:first-child {
              width: 100%;
            }
            &:nth-child(2),
            &:nth-child(5) {
              width: 36%;
            }
            &:nth-child(4),
            &:nth-child(7) {
              width: 30%;
              text-align: center;
              padding: 0 0 0 10px;
            }
            &:nth-child(7) {
              padding: 0;
              text-align: right;
            }
          }
        }
        &.gMail {
          width: 100%;
          position: relative;
          // @include max-screen(767px) {
          //   &::before,
          //   &::after {
          //     display: none;
          //   }
          // }
          &::before {
            z-index: 9;
            content: "";
            position: absolute;
            left: 21px;
            top: 39px;
            width: 28px;
            height: 22px;
            background-size: cover;
            background-image: url(../img/common/icon/ico_mail.svg);
            @media screen and (max-width: 330px) {
              left: 12px;
            }
          }
          &::after {
            z-index: 9;
            content: "";
            position: absolute;
            right: 22px;
            top: 43px;
            width: 7px;
            height: 12px;
            background-size: contain;
            background-image: url(../img/common/icon/icon_arrow_mail.svg);
            @media screen and (max-width: 330px) {
              right: 12px;
            }
          }
          a {
            background-color: #004cc6;
            color: #ffffff;
            text-align: center;
            font-size: 16px;
            // max-width: 315px;
            width: 100%;
            position: relative;
            left: 0;
            right: 0;
            margin: 15px auto 0;
            top: 0;
            padding: 23px 15px 21px 29px;
            box-sizing: border-box;
            letter-spacing: 1px;
            @include max-screen(767px) {
              max-width: inherit;
              &::before {
                z-index: 9;
                content: "";
                position: absolute;
                left: 21px;
                top: 39px;
                width: 27px;
                height: 21px;
                background-size: cover;
                background-image: url(../img/common/icon/ico_mail.svg);
              }
              &::after {
                z-index: 9;
                content: "";
                position: absolute;
                right: 22px;
                top: 43px;
                width: 7px;
                height: 12px;
                background-size: contain;
                background-image: url(../img/common/icon/icon_arrow_mail.svg);
              }
            }
          }
        }
        &.gSocial {
          width: 100%;
        }
        &:last-child {
          width: 100%;
          a {
            letter-spacing: 0;
          }
        }
        .col2 {
          width: 100%;
          display: flex;
          justify-content: center;
          margin: 13px 0 6px;
          .text1,
          .text2 {
            max-width: 49%;
            width: 100%;
            a {
              max-width: 100%;
              width: 100%;
              display: block;
              font-size: 12px;
              font-weight: bold;
              color: #000000;
              text-align: center;
              background: #efefef;
              border: 1px solid #dbdbdb;
              padding: 16px 10px 16px 37px;
              width: 100%;
              height: 54px;
              position: relative;
              margin: 0 auto;
              // @include max-screen(767px) {
              //   width: 100%;
              // }
              &::after {
                content: "";
                position: absolute;
                right: 13px;
                top: 11px;
                width: 10px;
                height: 9px;
                background-size: contain;
                background-image: url(../img/common/icon/ico_blank.svg);
              }
            }
          }
          .text1 {
            margin: 0 9px 0 0;
            a {
              &::before {
                content: "";
                position: absolute;
                left: 20px;
                top: 12px;
                width: 25px;
                height: 25px;
                background-size: contain;
                background-image: url(../img/common/icon/ico_facebook.svg);
              }
            }
          }
          .text2 {
            a {
              &::before {
                content: "";
                position: absolute;
                left: 17px;
                top: 13px;
                width: 25px;
                height: 25px;
                background-size: contain;
                background-image: url(../img/common/icon/ico_instagram.svg);
              }
            }
          }
        }
      }
      > a {
        display: block;
        padding: 3px 0;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          right: 2px;
          top: 50%;
          width: 8px;
          height: 8px;
          margin-top: -6px;
          border-left: 1px solid #000;
          border-top: 1px solid #000;
          @include transform_c(rotate(-135deg));
          @include add_prefix(transition, 0.3s ease all);
          display: none;
        }
        &:after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background: $color_blue1;
          @include transform_c(scaleX(0));
          @include add_prefix(transition, 0.3s ease all);
        }
        &:hover {
          color: $color_blue1;
          opacity: 1;
          &:after {
            @include transform_c(scaleX(1));
          }
        }
      }
      &.hasSub {
        a {
          padding-right: 20px;
          &:before {
            display: block;
            border-color: red;
          }
          &:hover {
            &:after {
              display: none;
            }
          }
        }
        .plus {
          display: none;
        }
      }
      &.active {
        a {
          &:before {
            margin-top: -3px;
            @include transform_c(rotate(45deg));
          }
        }
      }
    }
    .navSub {
      position: absolute;
      left: 50%;
      top: 28px;
      width: 260px;
      padding-top: 10px;
      @include transform_c(translateX(-50%));
      display: none;
      ul {
        padding: 20px;
        background: #ddd;
        li {
          border-bottom: 1px dashed #999;
          text-align: left;
          a {
            display: block;
            padding: 10px 20px 10px 0;
            position: relative;
            &:before {
              content: "";
              position: absolute;
              right: 0;
              top: 50%;
              width: 6px;
              height: 6px;
              margin-top: -3px;
              border-left: 1px solid #000;
              border-top: 1px solid #000;
              @include transform_c(rotate(135deg));
            }
          }
          &:first-child {
            border-top: 1px dashed #999;
          }
        }
      }
      .closeSub {
        cursor: pointer;
        padding: 10px;
        text-align: center;
        background: #999;
        color: #fff;
      }
    }
  }
  .close_layer {
    display: none;
  }
  @media (min-width: 1160px) and (max-width: 1210px) {
    .gNavi > li {
      font-size: 14px;
      margin-left: 2%;
    }
    .hNavi {
      margin: 0 0 0 20px;
    }
  }
  @media (max-width: 1160px) {
    .gNavi > li {
      font-size: 14px;
      margin-left: 2%;
      letter-spacing: 0;
    }
    .hNavi {
      margin: 0 0 0 20px;
    }
  }
  @media (max-width: 1100px) {
    .gNavi > li {
      margin-left: 5px;
    }
  }
  @include max-screen(1024px) {
    position: fixed;
    right: -100%;
    top: 55px;
    z-index: 1000;
    width: 100%;
    height: 100%;
    text-align: left;
    border-top: 1px solid #7b7b7b24;
    background: #ffffff;
    transition: right 0.3s ease-in-out;
    .inLayer {
      position: relative;
      height: 100vh;
      padding: 32px 30px 100px;
      overflow: auto;
      display: block;
      background: #fff;
    }
    .gNavi {
      margin-bottom: 30px;
      margin-right: 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      > li {
        display: block;
        width: 50%;
        font-weight: bold;
        border-bottom: 1px solid #fff;
        margin: 0;
        > a {
          color: #000000;
          padding: 17px 0 15px 0;
        }
        &.hasSub {
          > a {
            &:before {
              @include transform_c(rotate(-135deg));
            }
          }
          .plus {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            width: 30%;
            height: 100%;
            cursor: pointer;
          }
        }
      }
      .navSub {
        position: static;
        left: auto;
        top: auto;
        width: 100%;
        padding: 0;
        @include transform_c(none);
      }
    }
    .close_layer {
      padding: 12px 0 10px;
      background: #bfbfbf;
      color: #fff;
      font-weight: bold;
      letter-spacing: 2px;
      text-align: center;
      cursor: pointer;
    }
  }
}
.layerOn {
  .layerMenu {
    right: 0;
  }
}

.hamberger {
  position: fixed;
  z-index: 1000;
  width: 50px;
  height: 50px;
  padding: 8px 5px 5px;
  line-height: 1;
  font-size: 0;
  text-align: center;
  cursor: pointer;
  display: none;
  right: 2px;
  top: 6px;
  span {
    display: block;
    width: 15px;
    height: 2px;
    margin: 0 auto 5px;
    background: #000;
    @include add_prefix(transition, 0.1s ease all);
  }
  &.active {
    span {
      width: 28px;
    }
    .ham {
      height: 1px;
      width: 24px;
      @include transform_c(rotate(45deg) translateY(7px) translateX(6px));
    }
    .ber {
      height: 1px;
      width: 24px;
      @include transform_c(rotate(-45deg) translateY(2px) translateX(-3px));
    }
    .ger {
      display: none;
    }
    small {
      padding-top: 13px;
      width: 40px;
      margin: 0 auto;
      &:after {
        content: "閉じる";
      }
    }
  }
  small {
    display: block;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    position: relative;
    font-size: 0;
    color: transparent;
    &:after {
      content: "メニュー";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      color: #000;
      font-size: 10px;
    }
  }
  @include max-screen(1024px) {
    display: block;
  }
}

.header-contact {
  @include SP {
    #logo {
      left: 9px;
      a {
        display: block;
      }
    }
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .gNavi {
    max-width: 425px;
    width: 100%;
    margin: 0 auto !important;
    .sp {
      display: block !important;
    }
    .pc {
      display: none !important;
    }
  }
  // .layerMenu .gNavi > li:nth-child(2) {
  //   display: flex !important;
  // }
  .layerMenu .gNavi > li:nth-child(2) p:nth-child(7) {
    text-align: center;
  }
}

#contact {
  @include PC {
    .gNavi {
      visibility: hidden;
    }
    .hNavi {
      visibility: hidden;
    }
    .header {
      box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    }
  }
  @media screen and (max-width: 1024px) {
    .gNavi,
    .hNavi {
      visibility: inherit;
    }
  }
}
.top {
  .header {
    transition: all 1s ease-out;
    filter: blur(2);
    opacity: 0;
    transform: translateY(-30px);
    &.views {
      filter: blur(0);
      opacity: 1;
      transform: translateY(0);
    }
  }
}
